Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-10, with the labels that each got.

#8694 chore(asset): increase wait time in tests
  asset/src/test/java/com/example/asset/SearchIT.java
Labels: api: cloudasset, samples

#8719 chore(auto-label): Flagship asset tag for recaptcha_enterprise/demosite
  .github/auto-label.yaml
Labels: samples

#8726 chore(aiplatform): Vertex AI product name changes
  aiplatform/src/main/java/aiplatform/PredictCodeCompletionCommentSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeCompletionTestFunctionSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeGenerationFunctionSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeGenerationUnitTestSample.java
Labels: samples, api: aiplatform

#8728 Feature/documents
  content-warehouse/pom.xml
  content-warehouse/src/main/java/contentwarehouse/v1/UpdateDocument.java
  content-warehouse/src/test/java/contentwarehouse/v1/DocumentTests.java
Labels: samples, api: contentwarehouse

#8747 feat: add sample and test for getting an access token from an imperso…
  .kokoro/tests/run_tests.sh
  auth/src/main/java/com/google/cloud/auth/samples/AccessTokenFromImpersonatedCredentials.java
  auth/src/test/java/com/google/cloud/auth/samples/AccessTokenFromImpersonatedCredentialsIT.java
Labels: samples, api: auth

#8757 chore(fix): refactor image create/delete test
  compute/cloud-client/src/test/java/compute/windows/osimage/WindowsOsImageIT.java
Labels: api: compute, samples

#8738 adding region tag for update document
  content-warehouse/src/main/java/contentwarehouse/v1/UpdateDocument.java
Labels: samples, api: contentwarehouse

#8774 chore(aiplatform): clarify argument model_dir
  aiplatform/src/main/java/aiplatform/CreateTrainingPipelineCustomJobSample.java
Labels: samples, api: aiplatform

#8733 Fix URL for GCS fuse example.
  run/filesystem/gcsfuse.Dockerfile
Labels: api: run, samples

#8776 fix: update code sample of metric descriptor info
  monitoring/cloud-client/src/main/java/com/example/monitoring/Snippets.java
  monitoring/cloud-client/src/test/java/com/example/monitoring/SnippetsIT.java
Labels: api: monitoring, samples
