Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-08, with the labels that each got.

#8412 Feature/update document schema
  bigtable/use-cases/fraudDetection/terraform/main.tf
  bigtable/use-cases/fraudDetection/terraform/variables.tf
  content-warehouse/src/main/java/contentwarehouse/v1/CreateDocumentSchema.java
  content-warehouse/src/main/java/contentwarehouse/v1/GetDocumentSchema.java
  content-warehouse/src/main/java/contentwarehouse/v1/ListDocumentSchema.java
  content-warehouse/src/main/java/contentwarehouse/v1/UpdateDocumentSchema.java
  content-warehouse/src/test/java/contentwarehouse/v1/DocumentSchemaTests.java
Labels: samples, api: contentwarehouse

#8500 chore(update): Windows version update to 2022
  compute/cloud-client/src/main/java/compute/windows/windowsinstances/CreateWindowsServerInstanceExternalIp.java
  compute/cloud-client/src/main/java/compute/windows/windowsinstances/CreateWindowsServerInstanceInternalIp.java
Labels: api: compute, samples

#8501 chore: Add storage to blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#8504 chore: use managed dependencies
  .gitignore
  accessapproval/snippets/pom.xml
  aiplatform/pom.xml
  flexible/java-11/analytics/pom.xml
  flexible/java-11/cloudstorage/pom.xml
  flexible/java-11/datastore/pom.xml
  flexible/java-11/pubsub/pom.xml
  flexible/java-11/static-files/pom.xml
  flexible/java-8/pubsub/pom.xml
Labels: api: appengine, samples

#8514 chore: adding in region tag for cloud storage v2 unit test docs
  functions/v2/hello-gcs/src/test/java/functions/HelloGcsTest.java
Labels: api: cloudfunctions, samples

#8523 docs: fix Bigtable flakey filters test
  bigtable/hbase/snippets/src/test/java/com/example/bigtable/FiltersTest.java
Labels: automerge, api: bigtable, samples

#8524 fix(aiplatform): correct the timeout setting for the endpoint service
  aiplatform/src/main/java/aiplatform/DeployModelSample.java
Labels: samples, api: aiplatform

#8460 Add storage insights samples
  storageinsights/pom.xml
  storageinsights/src/main/java/com/google/cloud/storage/storageinsights/samples/CreateInventoryReportConfig.java
  storageinsights/src/main/java/com/google/cloud/storage/storageinsights/samples/DeleteInventoryReportConfig.java
  storageinsights/src/main/java/com/google/cloud/storage/storageinsights/samples/EditInventoryReportConfig.java
  storageinsights/src/main/java/com/google/cloud/storage/storageinsights/samples/GetInventoryReportNames.java
  storageinsights/src/main/java/com/google/cloud/storage/storageinsights/samples/ListInventoryReportConfigs.java
  storageinsights/src/test/java/com/google/cloud/storage/storageinsights/samples/test/ITStorageinsightsSamplesTest.java
Labels: api: storage, samples

#8539 fix(storageinsights): Replace sleep with retry rule
  storageinsights/src/test/java/com/google/cloud/storage/storageinsights/samples/test/ITStorageinsightsSamplesTest.java
Labels: api: storage, samples

#8520 feat(aiplatform): add sample for Gen AI code model tuning
  aiplatform/src/main/java/aiplatform/CreatePipelineJobCodeModelTuningSample.java
  aiplatform/src/test/java/aiplatform/CreatePipelineJobCodeModelTuningSampleTest.java
Labels: samples, api: aiplatform

#8533 chore(iot): IoT deprecation
  .github/blunderbuss.yml
  iot/README.md
  iot/api-client/README.md
  iot/api-client/codelab/README.md
  iot/api-client/codelab/manager/README.md
  iot/api-client/codelab/manager/pom.xml
  iot/api-client/codelab/manager/src/main/java/com/example/cloud/iot/examples/MqttCommandsDemo.java
  iot/api-client/codelab/manager/src/main/java/com/example/cloud/iot/examples/MqttExampleOptions.java
  iot/api-client/codelab/manager/src/main/java/com/example/cloud/iot/examples/RetryHttpInitializerWrapper.java
  iot/api-client/codelab/manager/src/test/java/com/example/cloud/iot/examples/ManagerIT.java
  iot/api-client/codelab/send_cmds_async.sh
  iot/api-client/end-to-end-example/README.md
  iot/api-client/end-to-end-example/pom.xml
  iot/api-client/end-to-end-example/src/main/java/com/example/cloud/iot/endtoend/CleanUpHelper.java
  iot/api-client/end-to-end-example/src/main/java/com/example/cloud/iot/endtoend/CloudiotPubsubExampleMqttDevice.java
  iot/api-client/end-to-end-example/src/main/java/com/example/cloud/iot/endtoend/CloudiotPubsubExampleMqttDeviceOptions.java
  iot/api-client/end-to-end-example/src/main/java/com/example/cloud/iot/endtoend/CloudiotPubsubExampleServer.java
  iot/api-client/end-to-end-example/src/main/java/com/example/cloud/iot/endtoend/CloudiotPubsubExampleServerOptions.java
  iot/api-client/end-to-end-example/src/main/java/com/example/cloud/iot/endtoend/RetryHttpInitializerWrapper.java
  iot/api-client/end-to-end-example/src/test/java/com/example/cloud/iot/endtoend/CloudiotPubsubExampleServerTest.java
  iot/api-client/generate_keys.sh
  iot/api-client/manager/README.md
  iot/api-client/manager/pom.xml
  iot/api-client/manager/resources/README.md
  iot/api-client/manager/resources/ec_public.pem
  iot/api-client/manager/resources/rsa_cert.pem
  iot/api-client/manager/resources/rsa_private.pem
  iot/api-client/manager/resources/rsa_private_pkcs8
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/DeviceRegistryExample.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/DeviceRegistryExampleOptions.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/HttpExample.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/HttpExampleOptions.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/MqttExample.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/MqttExampleOptions.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/RetryHttpInitializerWrapper.java
  iot/api-client/manager/src/test/java/com/example/cloud/iot/examples/ManagerIT.java
Labels: automerge, api: cloudiot, samples

#8562 chore: add region tags to workflows quickstart
  workflows/cloud-client/src/main/java/com/example/workflows/WorkflowsQuickstart.java
Labels: samples, api: workflows

#8560 chore: update renovate
  appengine-java11-bundled-services/datastore/pom.xml
  appengine-java8/iap/pom.xml
  appengine-java8/pubsub/pom.xml
  cloud-sql/mysql/servlet/pom.xml
  renovate.json
  unittests/pom.xml
  vision/face-detection/pom.xml
Labels: samples

#8577 docs: update Batch DML sample to use PreparedStatement
  spanner/jdbc/src/main/java/com/example/spanner/jdbc/BatchDmlExample.java
Labels: api: spanner, samples

#8579 docs(samples): Remove timeout seconds from Document AI Batch Sample
  document-ai/src/main/java/documentai/v1/BatchProcessDocument.java
Labels: samples, api: documentai

#8574 fix(healthcare): specify V3 parser version when creating HL7v2 store
  healthcare/v1/src/main/java/snippets/healthcare/hl7v2/Hl7v2StoreCreate.java
Labels: api: healthcare, samples

#8591 chore: update code owners to infra-db-sdk
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#8590 Feature/delete schema
  content-warehouse/src/main/java/contentwarehouse/v1/DeleteDocumentSchema.java
  content-warehouse/src/main/java/contentwarehouse/v1/UpdateDocumentSchema.java
  content-warehouse/src/test/java/contentwarehouse/v1/DocumentSchemaTests.java
Labels: samples, api: contentwarehouse

#8576 docs: sample for running Partitioned Queries using Spanner JDBC
  spanner/jdbc/src/main/java/com/example/spanner/jdbc/AutoPartitionModeExample.java
  spanner/jdbc/src/main/java/com/example/spanner/jdbc/DataBoostExample.java
  spanner/jdbc/src/main/java/com/example/spanner/jdbc/PartitionQueryExample.java
  spanner/jdbc/src/main/java/com/example/spanner/jdbc/RunPartitionedQueryExample.java
  spanner/jdbc/src/test/java/com/example/spanner/jdbc/JdbcExamplesIT.java
Labels: api: spanner, samples

#8598 chore(video): Removes duplicate and unused samples
  video/src/main/java/beta/video/Detect.java
  video/src/main/java/beta/video/DetectLogo.java
  video/src/main/java/beta/video/DetectLogoGcs.java
  video/src/main/java/beta/video/TextDetection.java
  video/src/main/java/beta/video/TrackObjects.java
  video/src/main/java/com/example/video/Detect.java
  video/src/main/java/com/example/video/LogoDetection.java
  video/src/main/java/com/example/video/LogoDetectionGcs.java
  video/src/main/java/com/example/video/QuickstartSample.java
  video/src/main/java/com/example/video/TextDetection.java
  video/src/main/java/com/example/video/TrackObjects.java
  video/src/test/java/beta/video/DetectIT.java
  video/src/test/java/beta/video/DetectLogoGcsTest.java
  video/src/test/java/beta/video/DetectLogoTest.java
  video/src/test/java/com/example/video/DetectIT.java
  video/src/test/java/com/example/video/DetectLogoGcsTest.java
  video/src/test/java/com/example/video/DetectLogoTest.java
  video/src/test/java/com/example/video/QuickstartIT.java
Labels: automerge, api: videointelligence, samples
