Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-02, with the labels that each got.

#7638 docs(samples): modified region tag to match apikey service
  auth/src/main/java/CreateApiKey.java
  auth/src/main/java/DeleteApiKey.java
  auth/src/main/java/LookupApiKey.java
  auth/src/main/java/RestrictApiKeyAndroid.java
  auth/src/main/java/RestrictApiKeyApi.java
  auth/src/main/java/RestrictApiKeyHttp.java
  auth/src/main/java/RestrictApiKeyIos.java
  auth/src/main/java/RestrictApiKeyServer.java
Labels: do not merge, samples, api: auth

#7659 chore: add dataflow to auto-label configuration
  .github/auto-label.yaml
Labels: samples

#7657 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#7419 migrate code from googleapis/java-iam
  .kokoro/tests/run_tests.sh
  iam/snippets/pom.xml
  iam/snippets/src/main/java/CreateDenyPolicy.java
  iam/snippets/src/main/java/DeleteDenyPolicy.java
  iam/snippets/src/main/java/GetDenyPolicy.java
  iam/snippets/src/main/java/ListDenyPolicies.java
  iam/snippets/src/main/java/UpdateDenyPolicy.java
  iam/snippets/src/test/java/DenyIT.java
Labels: api: iam, samples

#7676 remove unrelated file
  dlp/snippets/snippets/src/test/java/dlp/snippets/DeleteJob.java
Labels: samples

#7675 docs(privateca-samples): add MultipleAttemptsRule to retry service issue
  privateca/snippets/src/test/java/privateca/SnippetsIT.java
Labels: samples, api: privateca

#7668 docs(compute-samples): fix service unavailable issue with MultipleAtt…
  compute/cloud-client/src/test/java/compute/custommachinetype/CustomMachineTypeIT.java
Labels: api: compute, samples

#7682 test: temporarily ignore failing featurestore tests
  aiplatform/src/test/java/aiplatform/FeatureValuesSamplesTest.java
  aiplatform/src/test/java/aiplatform/FeaturestoreSamplesTest.java
Labels: samples, api: aiplatform

#7685 chore: update vertx deps
  appengine-java11/vertx-helloworld/pom.xml
Labels: api: appengine, samples

#7562 docs: improve `PredictTextSentimentAnalysisSample`
  aiplatform/src/main/java/aiplatform/PredictTextSentimentAnalysisSample.java
Labels: samples

#7691 docs(samples): Add Dataflow TextIO snippet
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/BatchWriteStorage.java
  dataflow/snippets/src/test/java/com/example/dataflow/BatchWriteStorageIT.java
Labels: automerge, api: dataflow, samples

#7690 Add an optional DOCKER_COMPOSE_USER environment variable.
  recaptcha_enterprise/demosite/docker-compose.yaml
Labels: api: recaptchaenterprise, samples

#7697 docs(ca-samples): delete stale ca pool in test project
  privateca/snippets/src/test/java/privateca/SnippetsIT.java
  privateca/snippets/src/test/java/privateca/Util.java
Labels: samples, api: privateca

#7701 fix: wait for service to be deleted
  run/jobs/src/test/java/com/example/JobsIntegrationTests.java
Labels: api: jobs, samples

#7700 test: Increased the featurestore tests timeout
  aiplatform/src/main/java/aiplatform/CreateFeaturestoreFixedNodesSample.java
  aiplatform/src/test/java/aiplatform/FeaturestoreSamplesTest.java
Labels: samples, api: aiplatform

#7706 Demosite app recaptcha changes
  recaptcha_enterprise/demosite/docker-compose.yaml
  recaptcha_enterprise/demosite/src/main/resources/static/scripts/component.js
Labels: api: recaptchaenterprise, samples

#7707 docs(compute-samples): adding machine type update and regional disk samples
  compute/cloud-client/src/main/java/compute/ChangeInstanceMachineType.java
  compute/cloud-client/src/main/java/compute/disks/AttachDisk.java
  compute/cloud-client/src/main/java/compute/disks/RegionalCreateFromSource.java
  compute/cloud-client/src/main/java/compute/disks/ResizeDisk.java
  compute/cloud-client/src/main/java/compute/disks/ResizeRegionalDisk.java
  compute/cloud-client/src/test/java/compute/InstanceOperationsIT.java
  compute/cloud-client/src/test/java/compute/Util.java
  compute/cloud-client/src/test/java/compute/disks/DisksFromSourceIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
Labels: api: compute, samples

#7713 chore: add CODEOWNERS for DLP samples
  .github/CODEOWNERS
Labels: samples
