Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-11, with the labels that each got.

#8780 fix: update sql initialisation properties
  run/idp-sql/pom.xml
  run/idp-sql/src/main/resources/application.properties
  run/idp-sql/src/test/resources/application.properties
Labels: api: run, samples

#8795 fix: catch timing issue on pubsublitetogcs test
  pubsublite/streaming-analytics/src/test/java/examples/PubsubliteToGcsIT.java
Labels: samples, api: pubsublite

#8854 chore(compute): skipping flaky setUsageBucket test
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
Labels: api: compute, samples

#8869 fix: add skip to test blocked on #8798
  asset/src/test/java/com/example/asset/QuickStartIT.java
  asset/src/test/java/com/example/asset/SearchIT.java
Labels: api: cloudasset, samples

#8739 Feature/documents
  content-warehouse/src/main/java/contentwarehouse/v1/SearchDocuments.java
  content-warehouse/src/test/java/contentwarehouse/v1/DocumentTests.java
Labels: samples, api: contentwarehouse

#8893 fix: update location of AvroCoder in dataflow snippets
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/BigQueryWrite.java
  dataflow/snippets/src/main/java/com/example/dataflow/BigQueryWriteWithSchema.java
Labels: api: dataflow, samples

#8894 feat: add new optional accelerator_type parameter
  aiplatform/src/main/java/aiplatform/CreatePipelineJobModelTuningSample.java
Labels: samples, api: aiplatform

#8863 feat: Add Makefile for constistent sample interface
  Makefile
Labels: samples

#8910 chore(proc): modify renovate configuration
  .github/renovate.json5
  renovate.json
Labels: samples
