Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-09, with the labels that each got.

#8619 Fix flaky issue #8593
  document-ai/src/test/java/documentai/v1beta3/ProcessOcrDocumentTest.java
Labels: samples, api: documentai

#8602 chore: update blunderbuss for product teams
  .github/CODEOWNERS
  .github/auto-label.yaml
  .github/blunderbuss.yml
  bigquery/datatransfer/README.md
Labels: samples

#8621 chore(aiplatform): re-add skipped tests back to the integration
  aiplatform/src/test/java/aiplatform/FeaturestoreSamplesTest.java
Labels: samples, api: aiplatform

#8637 [DocWarehouse] adding create document sample
  content-warehouse/src/main/java/contentwarehouse/v1/CreateDocument.java
  content-warehouse/src/test/java/contentwarehouse/v1/DocumentTests.java
Labels: samples, api: contentwarehouse

#8648 fix: refactor error reporting code sample
  errorreporting/src/main/java/com/example/errorreporting/QuickStart.java
Labels: api: clouderrorreporting, samples

#8645 Feature/documents
  content-warehouse/src/main/java/contentwarehouse/v1/GetDocument.java
  content-warehouse/src/test/java/contentwarehouse/v1/DocumentTests.java
Labels: samples, api: contentwarehouse

#8652 fix(video): increase timeout to avoid flaky test
  video/src/main/java/video/LogoDetectionGcs.java
Labels: automerge, api: videointelligence, samples

#8573 feat(language): update code example for Cloud NL v2
  language/snippets/pom.xml
  language/snippets/src/main/java/com/example/language/Analyze.java
  language/snippets/src/test/java/com/example/language/AnalyzeIT.java
Labels: api: language, samples

#8662 fix: Updates to Vertex AI Search samples after GA
  discoveryengine/src/main/java/discoveryengine/v1/Search.java
  discoveryengine/src/test/java/discoveryengine/v1/SearchTest.java
Labels: samples
