Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-04, with the labels that each got.

#7810 fix: cleanup storage deprecations
  storage/cloud-client/README.md
  storage/cloud-client/pom.xml
  storage/s3-sdk/README.md
  storage/s3-sdk/pom.xml
  storage/s3-sdk/src/test/java/storage/s3sdk/ListGcsBucketsTest.java
  storage/s3-sdk/src/test/java/storage/s3sdk/ListGcsObjectsTest.java
  storage/xml-api/cmdline-sample/README.md
  storage/xml-api/cmdline-sample/pom.xml
  storage/xml-api/serviceaccount-appengine-sample/README.md
  storage/xml-api/serviceaccount-appengine-sample/pom.xml
Labels: api: storage, samples

#7826 fix: add timeout to async request
  asset/src/main/java/com/example/asset/ExportAssetsExample.java
Labels: api: cloudasset, samples

#7814 chore(fucntions/v2): Update gcs samples to use type library.
  functions/v2/hello-gcs/pom.xml
  functions/v2/hello-gcs/src/main/java/functions/HelloGcs.java
  functions/v2/hello-gcs/src/main/java/functions/eventpojos/GcsEvent.java
  functions/v2/hello-gcs/src/test/java/functions/HelloGcsTest.java
  functions/v2/imagemagick/pom.xml
  functions/v2/imagemagick/src/main/java/functions/ImageMagick.java
  functions/v2/imagemagick/src/main/java/functions/eventpojos/GcsEvent.java
  functions/v2/imagemagick/src/test/java/functions/ImageMagickTest.java
  functions/v2/ocr/ocr-process-image/pom.xml
  functions/v2/ocr/ocr-process-image/src/main/java/functions/OcrProcessImage.java
  functions/v2/ocr/ocr-process-image/src/main/java/functions/eventpojos/StorageObjectData.java
  functions/v2/ocr/ocr-process-image/src/test/java/functions/OcrProcessImageTest.java
Labels: api: cloudfunctions, samples

#7832 docs: Fix bigtable fraud detection test output to be more comprehensive
  bigtable/use-cases/fraudDetection/src/test/java/FraudDetectionTestUtil.java
Labels: api: bigtable, samples

#7834 docs(aiplatform): added note to DeleteEndpointSample
  aiplatform/src/main/java/aiplatform/DeleteEndpointSample.java
Labels: automerge, samples, api: aiplatform

#7822 chore(functions/v2/firebase/firestore-reactive): New upper firestore trigger gen 2 compatible
  functions/v2/firebase/firestore-reactive/pom.xml
  functions/v2/firebase/firestore-reactive/src/main/java/functions/FirebaseFirestoreReactive.java
  functions/v2/firebase/firestore-reactive/src/test/java/functions/FirebaseFirestoreReactiveTest.java
Labels: api: cloudfunctions, samples

#7815 fix: pom version recognization for tests
  .kokoro/tests/run_test_java.sh
  bigtable/beam/bulk-data-generator/pom.xml
  bigtable/beam/workload-generator/pom.xml
  endpoints/getting-started/pom.xml
Labels: api: appengine, samples

#7836 Chore: Cleanup CODEOWNERS for App Engine samples
  .github/CODEOWNERS
Labels: samples

#7841 chore: add deprecation notice for iot samples
  iot/README.md
Labels: api: cloudiot, samples

#7843 fix: make task arguments clear
  appengine-java11/tasks/src/main/java/com/example/task/CreateTask.java
  appengine-java11/tasks/src/test/java/com/example/task/CreateTaskIT.java
Labels: api: appengine, samples

#7846 Ignore stitcher tests
  media/stitcher/src/test/java/com/example/stitcher/CreateCdnKeyAkamaiTest.java
  media/stitcher/src/test/java/com/example/stitcher/CreateCdnKeyTest.java
  media/stitcher/src/test/java/com/example/stitcher/CreateLiveSessionTest.java
  media/stitcher/src/test/java/com/example/stitcher/CreateSlateTest.java
  media/stitcher/src/test/java/com/example/stitcher/CreateVodSessionTest.java
  media/stitcher/src/test/java/com/example/stitcher/DeleteCdnKeyTest.java
  media/stitcher/src/test/java/com/example/stitcher/DeleteSlateTest.java
  media/stitcher/src/test/java/com/example/stitcher/GetCdnKeyTest.java
  media/stitcher/src/test/java/com/example/stitcher/GetLiveAdTagDetailTest.java
  media/stitcher/src/test/java/com/example/stitcher/GetLiveSessionTest.java
  media/stitcher/src/test/java/com/example/stitcher/GetSlateTest.java
  media/stitcher/src/test/java/com/example/stitcher/GetVodAdTagDetailTest.java
  media/stitcher/src/test/java/com/example/stitcher/GetVodSessionTest.java
  media/stitcher/src/test/java/com/example/stitcher/GetVodStitchDetailTest.java
  media/stitcher/src/test/java/com/example/stitcher/ListCdnKeysTest.java
  media/stitcher/src/test/java/com/example/stitcher/ListLiveAdTagDetailsTest.java
  media/stitcher/src/test/java/com/example/stitcher/ListSlatesTest.java
  media/stitcher/src/test/java/com/example/stitcher/ListVodAdTagDetailsTest.java
  media/stitcher/src/test/java/com/example/stitcher/ListVodStitchDetailsTest.java
  media/stitcher/src/test/java/com/example/stitcher/UpdateCdnKeyAkamaiTest.java
  media/stitcher/src/test/java/com/example/stitcher/UpdateCdnKeyTest.java
  media/stitcher/src/test/java/com/example/stitcher/UpdateSlateTest.java
Labels: samples, api: videostitcher

#7847 docs: Fix bigtable fraud detection dependency + test issues
  bigtable/use-cases/fraudDetection/README.md
  bigtable/use-cases/fraudDetection/pom.xml
  bigtable/use-cases/fraudDetection/src/test/java/FraudDetectionTestUtil.java
  bigtable/use-cases/fraudDetection/src/test/java/StreamingPipelineTest.java
Labels: automerge, api: bigtable, samples

#7855 Dc qc samples
  datacatalog/snippets/src/main/java/com/example/datacatalog/CreateCustomConnector.java
  datacatalog/snippets/src/main/java/com/example/datacatalog/WaitForImportEntries.java
Labels: api: datacatalog, samples

#7848 [DLP] Implemented sample for DeIdenitfy With Deterministic Encryption
  dlp/snippets/src/main/java/dlp/snippets/DeIdenitfyWithDeterministicEncryption.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: api: dlp, samples

#7857 fix: update speech sample to check list count
  speech/src/main/java/com/example/speech/QuickstartSampleV2.java
  speech/src/main/java/com/example/speech/TranscribeFileV2.java
Labels: api: speech, samples

#7880 chore: PR Template updates
  .github/PULL_REQUEST_TEMPLATE.md
Labels: samples

#7881 chore: Updating issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: samples

#7835 chore: cleanup CODEOWNERS file
  .github/CODEOWNERS
Labels: samples

#7879 chore(functions/v2/firebase): update firebase samples
  functions/v2/firebase/remote-config/pom.xml
  functions/v2/firebase/remote-config/src/main/java/functions/FirebaseRemoteConfig.java
  functions/v2/firebase/remote-config/src/test/java/functions/FirebaseRemoteConfigTest.java
  functions/v2/firebase/rtdb/pom.xml
  functions/v2/firebase/rtdb/src/main/java/functions/FirebaseRtdb.java
  functions/v2/firebase/rtdb/src/test/java/functions/FirebaseRtdbTest.java
Labels: api: cloudfunctions, samples

#7885 chore: add linter for license header
  .github/header-checker-lint.yml
Labels: samples

#7863 chore: remove versions of managed dependencies
  appengine-java11/guestbook-cloud-firestore/pom.xml
  appengine-java11/springboot-helloworld/pom.xml
  appengine-java11/tasks-handler/pom.xml
  appengine-java11/vertx-helloworld/pom.xml
  appengine-java8/springboot-helloworld/pom.xml
  auth/pom.xml
  cloud-sql/mysql/client-side-encryption/pom.xml
  cloud-sql/postgres/client-side-encryption/pom.xml
  cloud-sql/sqlserver/client-side-encryption/pom.xml
  compute/cloud-client/pom.xml
  container-registry/vulnerability-notification-function/pom.xml
  datacatalog/snippets/pom.xml
  dialogflow/snippets/pom.xml
  document-ai/pom.xml
  eventarc/audit-storage/pom.xml
  eventarc/generic/pom.xml
  eventarc/pubsub/pom.xml
  flexible/java-11/springboot-helloworld/pom.xml
  functions/helloworld/hello-gcs/pom.xml
  functions/helloworld/hello-pubsub/pom.xml
  functions/imagemagick/pom.xml
  functions/ocr/ocr-process-image/pom.xml
  functions/ocr/ocr-save-result/pom.xml
  functions/ocr/ocr-translate-text/pom.xml
  functions/pubsub/publish-message/pom.xml
  functions/slack/pom.xml
  functions/v2/hello-gcs/pom.xml
  functions/v2/imagemagick/pom.xml
  functions/v2/ocr/ocr-process-image/pom.xml
  functions/v2/ocr/ocr-save-result/pom.xml
  functions/v2/ocr/ocr-translate-text/pom.xml
  healthcare/v1/pom.xml
  iam/snippets/pom.xml
  language/analysis/pom.xml
  media/transcoder/pom.xml
  monitoring/cloud-client/pom.xml
  monitoring/v3/pom.xml
  optimization/snippets/pom.xml
  privateca/snippets/pom.xml
  pubsublite/streaming-analytics/pom.xml
  recaptcha_enterprise/demosite/pom.xml
  recaptcha_enterprise/snippets/src/pom.xml
  retail/interactive-tutorials/pom.xml
  run/endpoints-v2-backend/pom.xml
  run/filesystem/pom.xml
  run/helloworld/pom.xml
  run/image-processing/pom.xml
  run/markdown-preview/editor/pom.xml
  run/markdown-preview/renderer/pom.xml
  run/pubsub/pom.xml
  security-command-center/snippets/pom.xml
  spanner/changestreams/pom.xml
  spanner/opencensus/pom.xml
  spanner/r2dbc/pom.xml
  storage/cloud-client/pom.xml
  storage/s3-sdk/pom.xml
  translate/pom.xml
  vision/snippets/pom.xml
  workflows/cloud-client/pom.xml
Labels: api: cloudfunctions, samples

#7888 chore: debug lint
  .kokoro/tests/run_lint.sh
Labels: samples

#7873 feat: add additional samples for flex java 11
  .kokoro/tests/run_test_java.sh
  flexible/java-11/analytics/pom.xml
  flexible/java-11/analytics/src/main/appengine/app.yaml
  flexible/java-11/analytics/src/main/java/com/example/analytics/AnalyticsServlet.java
  flexible/java-11/analytics/src/main/java/com/example/analytics/Main.java
  flexible/java-11/analytics/src/test/java/com/example/analytics/AnalyticsTest.java
  flexible/java-11/cloudstorage/README.md
  flexible/java-11/cloudstorage/pom.xml
  flexible/java-11/cloudstorage/src/main/appengine/app.yaml
  flexible/java-11/cloudstorage/src/main/java/com/example/cloudstorage/Main.java
  flexible/java-11/cloudstorage/src/main/java/com/example/cloudstorage/UploadServlet.java
  flexible/java-11/cloudstorage/src/main/webapp/index.html
  flexible/java-11/cloudstorage/src/test/java/com/example/cloudstorage/UploadServletTest.java
  flexible/java-11/datastore/pom.xml
  flexible/java-11/datastore/src/main/appengine/app.yaml
  flexible/java-11/datastore/src/main/java/com/example/datastore/DatastoreServlet.java
  flexible/java-11/datastore/src/main/java/com/example/datastore/Main.java
  flexible/java-11/datastore/src/test/java/com/example/datastore/DatastoreServletTest.java
  flexible/java-11/pubsub/README.md
  flexible/java-11/pubsub/pom.xml
  flexible/java-11/pubsub/sample_message.json
  flexible/java-11/pubsub/src/main/appengine/app.yaml
  flexible/java-11/pubsub/src/main/java/com/example/flexible/pubsub/Main.java
  flexible/java-11/pubsub/src/main/java/com/example/flexible/pubsub/Message.java
  flexible/java-11/pubsub/src/main/java/com/example/flexible/pubsub/MessageRepository.java
  flexible/java-11/pubsub/src/main/java/com/example/flexible/pubsub/MessageRepositoryImpl.java
  flexible/java-11/pubsub/src/main/java/com/example/flexible/pubsub/PubSubHome.java
  flexible/java-11/pubsub/src/main/java/com/example/flexible/pubsub/PubSubPublish.java
  flexible/java-11/pubsub/src/main/java/com/example/flexible/pubsub/PubSubPush.java
  flexible/java-11/pubsub/src/main/webapp/WEB-INF/index.jsp
  flexible/java-11/pubsub/src/main/webapp/WEB-INF/jetty-web.xml
  flexible/java-11/pubsub/src/test/java/com/example/flexible/pubsub/PubSubPublishTest.java
  flexible/java-11/pubsub/src/test/java/com/example/flexible/pubsub/PubSubPushTest.java
  flexible/java-11/static-files/pom.xml
  flexible/java-11/static-files/src/main/appengine/app.yaml
  flexible/java-11/static-files/src/main/java/com/example/staticfiles/Main.java
  flexible/java-11/static-files/src/main/webapp/index.html
  flexible/java-11/static-files/src/main/webapp/stylesheets/styles.css
  flexible/java-11/static-files/src/test/java/com/example/staticfiles/StaticFileTest.java
  flexible/java-11/websocket-jetty/README.md
  flexible/java-11/websocket-jetty/pom.xml
  flexible/java-11/websocket-jetty/src/main/appengine/app.yaml
  flexible/java-11/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/ClientSocket.java
  flexible/java-11/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/EchoServlet.java
  flexible/java-11/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/Main.java
  flexible/java-11/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/SendServlet.java
  flexible/java-11/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/ServerSocket.java
  flexible/java-11/websocket-jetty/src/main/webapp/WEB-INF/index.jsp
  flexible/java-11/websocket-jetty/src/main/webapp/WEB-INF/jetty-web.xml
  flexible/java-11/websocket-jetty/src/main/webapp/js_client.jsp
Labels: api: appengine, samples

#7898 Add region tags
  flexible/java-11/cloudstorage/src/main/appengine/app.yaml
  flexible/java-11/static-files/src/main/webapp/index.html
Labels: api: appengine, samples

#7854 [DLP] Implemented sample for DeIdentify Table With Primitive Bucketing Config
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableWithBucketingConfig.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: api: dlp, samples

#7908 docs: update internal doc link
  .github/CODEOWNERS
Labels: automerge, samples

#7829 [DLP] Implemented sample for Reidentify Free TextWith Fpe Using Surrogate
  dlp/snippets/src/main/java/dlp/snippets/DeidentifyFreeTextWithFpeUsingSurrogate.java
  dlp/snippets/src/main/java/dlp/snippets/ReidentifyFreeTextWithFpeUsingSurrogate.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: api: dlp, samples

#7828 [DLP] Implemented Deidentify FreeText With Fpe Using Surrogate
  dlp/snippets/src/main/java/dlp/snippets/DeidentifyFreeTextWithFpeUsingSurrogate.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
  dlp/snippets/src/test/java/dlp/snippets/TestBase.java
Labels: api: dlp, samples

#7853 [DLP] Implemented sample for DeIdentify Data Replace With Dictionary
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyDataReplaceWithDictionary.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: api: dlp, samples

#7864 [DLP] Implemented a sample for Inspect String with Augmented InfoTypes
  dlp/snippets/src/main/java/dlp/snippets/InspectStringAugmentInfoType.java
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
Labels: api: dlp, samples

#7890 chore: update packages for run
  run/endpoints-v2-backend/pom.xml
  run/hello-broken/pom.xml
  run/image-processing/pom.xml
  run/logging-manual/pom.xml
  run/markdown-preview/renderer/pom.xml
  run/pubsub/pom.xml
  run/system-package/pom.xml
Labels: automerge, api: run, samples

#7907 test: avoid referencing veneer in HBase tests
  bigtable/hbase/snippets/src/main/java/com/example/bigtable/Filters.java
  bigtable/hbase/snippets/src/test/java/com/example/bigtable/FiltersTest.java
  bigtable/hbase/snippets/src/test/java/com/example/bigtable/ReadsTest.java
Labels: api: bigtable, samples

#7919 fix: restore pom.xml for datalabeling
  datalabeling/snippets/pom.xml
Labels: api: datalabeling, samples

#7876 Add public key conversion to JWK format.
  kms/pom.xml
  kms/src/main/java/kms/ConvertPublicKeyToJwk.java
  kms/src/test/java/kms/SnippetsIT.java
Labels: api: cloudkms, samples

#7925 chore: CODEOWNERS audit
  .github/CODEOWNERS
Labels: samples

#7920 fix(monitoring): refactor a few monitoring ITs
  monitoring/v3/src/main/java/com/example/monitoring/CreateAlertPolicy.java
  monitoring/v3/src/test/java/com/example/monitoring/AlertIT.java
  monitoring/v3/src/test/java/com/example/monitoring/DeleteNotificationChannelIT.java
  monitoring/v3/src/test/java/com/example/monitoring/ListAlertPolicyIT.java
Labels: api: monitoring, samples

#7921 feat: update recaptcha demosite front end
  recaptcha_enterprise/demosite/src/main/resources/static/scripts/demo-39df041b.js
  recaptcha_enterprise/demosite/src/main/resources/static/scripts/global-e680a49614fd8ff8.js
  recaptcha_enterprise/demosite/src/main/resources/templates/comment.html
  recaptcha_enterprise/demosite/src/main/resources/templates/home.html
  recaptcha_enterprise/demosite/src/main/resources/templates/login.html
  recaptcha_enterprise/demosite/src/main/resources/templates/signup.html
  recaptcha_enterprise/demosite/src/main/resources/templates/store.html
Labels: api: recaptchaenterprise, samples

#7929 fix: delete Cloud Run Job resource after test
  run/jobs/README.md
  run/jobs/src/test/java/com/example/JobsIntegrationTests.java
  run/jobs/src/test/java/com/example/resources/e2e_test_cleanup.yaml
  run/jobs/src/test/java/com/example/resources/e2e_test_setup.yaml
Labels: api: jobs, samples

#7933 chore: skip iot/manager tests
  iot/api-client/manager/src/test/java/com/example/cloud/iot/examples/ManagerIT.java
Labels: api: cloudiot, samples

#7953 Updating example
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTextWithFpe.java
Labels: api: dlp, samples

#7943 Deidentify with masking
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyWithMasking.java
Labels: api: dlp, samples

#7955 Fix live reload of HTML files.
  recaptcha_enterprise/demosite/pom.xml
  recaptcha_enterprise/demosite/src/main/resources/application.properties
Labels: api: recaptchaenterprise, samples

#7958 chore: fix the teams for spanner and memorystore
  .github/CODEOWNERS
Labels: samples

#7844 feat(documentai): document warehouse quickstart
  content-warehouse/pom.xml
  content-warehouse/src/main/java/contentwarehouse/v1/QuickStart.java
  content-warehouse/src/test/java/contentwarehouse/v1/QuickStartTest.java
Labels: samples, api: documentai
