Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-06, with the labels that each got.

#8206 fix: update asset test filenames
  asset/src/test/java/com/example/asset/AnalyzeIT.java
  asset/src/test/java/com/example/asset/ListAssetsIT.java
  asset/src/test/java/com/example/asset/RealTimeFeedIT.java
  asset/src/test/java/com/example/asset/SearchIT.java
Labels: api: cloudasset, samples

#8155 [DLP] Update stored infotype
  dlp/snippets/src/main/java/dlp/snippets/UpdateStoredInfoType.java
  dlp/snippets/src/test/java/dlp/snippets/InfoTypesTests.java
  dlp/snippets/src/test/java/dlp/snippets/TestBase.java
Labels: api: dlp, samples

#8216 fix: flaky GAE test
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/TicTacToeServletTest.java
Labels: api: appengine, samples

#8220 feat: chat prompt sample for Vertex Gen AI
  aiplatform/pom.xml
  aiplatform/src/main/java/aiplatform/PredictChatPromptSample.java
  aiplatform/src/test/java/aiplatform/PredictChatPromptSampleTest.java
Labels: samples, api: aiplatform

#8223 feat: text classification sample with large language models
  aiplatform/src/main/java/aiplatform/PredictTextClassificationSample.java
  aiplatform/src/test/java/aiplatform/PredictTextClassificationSampleTest.java
Labels: samples, api: aiplatform

#8218 feat(content-warehouse): create ruleset sample
  .github/CODEOWNERS
  content-warehouse/pom.xml
  content-warehouse/src/main/java/contentwarehouse/v1/CreateRuleSet.java
  content-warehouse/src/test/java/contentwarehouse/v1/CreateRuleSetTest.java
Labels: samples, api: contentwarehouse

#8232 Add a new WAR application sample for appengine flex java 11
  flexible/java-11/helloworld-war/pom.xml
  flexible/java-11/helloworld-war/src/main/appengine/app.yaml
  flexible/java-11/helloworld-war/src/main/java/com/example/flexible/helloworld/HelloServlet.java
  flexible/java-11/helloworld-war/src/test/java/com/example/flexible/helloworld/HelloServletTest.java
Labels: api: appengine, samples

#8225 feat: text extraction sample with large language models
  aiplatform/src/main/java/aiplatform/PredictTextExtractionSample.java
  aiplatform/src/test/java/aiplatform/PredictTextExtractionSampleTest.java
Labels: samples, api: aiplatform

#8233 chore(test): extend max timeout to avoid 'Timeout on blocking read'
  spanner/r2dbc/src/test/java/com/example/spanner/r2dbc/R2dbcSampleApplicationIT.java
Labels: api: spanner, samples

#8227 chore: add contentwarehouse to self-service program
  .github/CODEOWNERS
  .github/auto-label.yaml
  .github/blunderbuss.yml
  .github/header-checker-lint.yml
Labels: samples

#8236 docs: bigtable cdc quickstart
  bigtable/beam/change-streams/README.md
  bigtable/beam/change-streams/quickstart-data.csv
Labels: api: bigtable, samples

#8231 feat: text summarization sample for Vertex LLMs
  aiplatform/src/main/java/aiplatform/PredictTextSummarizationSample.java
  aiplatform/src/test/java/aiplatform/PredictTextSummarizationSampleTest.java
Labels: samples, api: aiplatform

#8240 chore: add retries to aiplatform prediction tests
  aiplatform/src/test/java/aiplatform/PredictChatPromptSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictCustomTrainedModelSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictImageClassificationSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictImageObjectDetectionSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTabularClassificationSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTabularRegressionSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTextClassificationSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTextClassificationSingleLabelSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTextEntityExtractionSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTextExtractionSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTextSentimentAnalysisSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTextSentimentSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTextSummarizationSampleTest.java
Labels: samples, api: aiplatform

#8230 feat: text prompt sample for Vertex LLMs
  aiplatform/src/main/java/aiplatform/PredictTextPromptSample.java
  aiplatform/src/test/java/aiplatform/PredictTextPromptSampleTest.java
Labels: samples, api: aiplatform

#8241 fix: experimental fix for 8175
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/TicTacToeServletTest.java
Labels: api: appengine, samples

#8228 feat: text embeddings sample with Vertex Gen AI
  aiplatform/src/main/java/aiplatform/PredictTextEmbeddingsSample.java
  aiplatform/src/test/java/aiplatform/PredictTextEmbeddingsSampleTest.java
Labels: samples, api: aiplatform

#8164 [DLP] Implementation of de-identification of files in cloud storage
  dlp/snippets/pom.xml
  dlp/snippets/src/main/java/dlp/snippets/DeidentifyCloudStorage.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: api: dlp, samples

#8252 fix(dialogflow): increase max retries to handle flaky test
  dialogflow/snippets/src/test/java/com/example/dialogflow/CreateDocumentTest.java
Labels: api: dialogflow, samples

#8257 docs: add region tags for Bigtable cdc hello world
  bigtable/beam/change-streams/pom.xml
  bigtable/beam/change-streams/src/main/java/ChangeStreamsHelloWorld.java
Labels: automerge, api: bigtable, samples

#8234 feat(aiplatform): experimental code samples for Codey API (draft)
  aiplatform/src/main/java/aiplatform/PredictCodeChatSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeCompletionCommentSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeCompletionTestFunctionSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeGenerationFunctionSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeGenerationUnitTestSample.java
  aiplatform/src/test/java/aiplatform/PredictCodeChatSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictCodeCompletionCommentSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictCodeCompletionTestFunctionSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictCodeGenerationFunctionSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictCodeGenerationUnitTestSampleTest.java
Labels: samples, api: aiplatform

#8253 chore: add more guards to flaky tictactoe test
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/TicTacToeServletTest.java
Labels: api: appengine, samples

#8259 feat(aiplatform): add tune model sample for Vertex LLMs
  aiplatform/src/main/java/aiplatform/CreatePipelineJobModelTuningSample.java
  aiplatform/src/test/java/aiplatform/CreatePipelineJobModelTuningSampleTest.java
Labels: samples, api: aiplatform

#8264 chore(dlp): modified region tag for samples
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyWithInfoType.java
  dlp/snippets/src/main/java/dlp/snippets/InspectDataToHybridJobTrigger.java
Labels: api: dlp, samples

#7917 fix: recaptcha password leak sample update
  recaptcha_enterprise/snippets/src/main/java/recaptcha/passwordleak/CreatePasswordLeakAssessment.java
  recaptcha_enterprise/snippets/src/test/java/app/SnippetsIT.java
Labels: api: recaptchaenterprise, samples

#8265 [DLP] Cosmetic Changes
  dlp/snippets/src/main/java/dlp/snippets/DeIdenitfyWithDeterministicEncryption.java
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyDataReplaceWithDictionary.java
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableWithBucketingConfig.java
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyWithTimeExtraction.java
  dlp/snippets/src/main/java/dlp/snippets/DeidentifyFreeTextWithFpeUsingSurrogate.java
  dlp/snippets/src/main/java/dlp/snippets/ReidentifyFreeTextWithFpeUsingSurrogate.java
  dlp/snippets/src/main/java/dlp/snippets/ReidentifyWithDeterministicEncryption.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: automerge, api: dlp, samples

#8263 [DLP] Implemented mock mechanism
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
  dlp/snippets/src/test/java/dlp/snippets/JobsTests.java
  dlp/snippets/src/test/java/dlp/snippets/RiskAnalysisTests.java
Labels: api: dlp, samples

#8258 feat(aiplatform): add the code sample for list the tuned models of the Vertex LLMs
  aiplatform/src/main/java/aiplatform/ListTunedModelsSample.java
  aiplatform/src/test/java/aiplatform/ListTunedModelsSampleTest.java
Labels: samples, api: aiplatform

#8282 chore: update grpc dependency group
  renovate.json
Labels: samples

#8286 fix: address tictactoe test failure
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/TicTacToeServletTest.java
Labels: api: appengine, samples

#8287 chore: Update blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#8245 chore: update spring boot to v3
  .kokoro/tests/build_cloud_run.sh
  .kokoro/tests/run_test_java.sh
  .kokoro/tests/run_tests.sh
  appengine-java11/tasks-handler/Dockerfile
  eventarc/audit-storage/Dockerfile
  eventarc/audit-storage/pom.xml
  eventarc/generic/pom.xml
  eventarc/pubsub/Dockerfile
  eventarc/pubsub/pom.xml
  renovate.json
  run/authentication/pom.xml
  run/filesystem/Dockerfile
  run/filesystem/gcsfuse.Dockerfile
  run/filesystem/pom.xml
  run/filesystem/src/main/java/com/example/filesystem/FilesystemApplication.java
  run/filesystem/src/test/java/com/example/filesystem/ApplicationTests.java
  run/filesystem/src/test/java/com/example/filesystem/FilesystemApplicationTests.java
  run/helloworld/Dockerfile
  run/helloworld/pom.xml
  run/idp-sql/pom.xml
  run/image-processing/pom.xml
  run/jobs/pom.xml
  run/jobs/project.toml
  run/logging-manual/pom.xml
  run/markdown-preview/editor/pom.xml
  run/markdown-preview/renderer/pom.xml
  run/pubsub/pom.xml
  run/system-package/pom.xml
Labels: api: run, samples

#8299 test: Add multiple attempts to Gen App Builder `SearchTest`
  discoveryengine/src/test/java/discoveryengine/v1beta/SearchTest.java
Labels: samples

#8346 chore: cleanup featurestore test teardown
  aiplatform/src/test/java/aiplatform/FeaturestoreSamplesTest.java
Labels: samples, api: aiplatform

#8350 fix: Implemented mock mechanism for the flaky test cases
  dlp/snippets/src/main/java/dlp/snippets/InspectWithStoredInfotype.java
  dlp/snippets/src/test/java/dlp/snippets/InfoTypesTests.java
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
Labels: api: dlp, samples

#8345 fix: dialogflow-cx speech parameter
  dialogflow-cx/pom.xml
  dialogflow-cx/src/main/java/dialogflow/cx/DetectIntentStream.java
Labels: api: dialogflow, samples

#8347 fix: flaky tictactoe test
  appengine-java8/firebase-tictactoe/src/main/java/com/example/appengine/firetactoe/Game.java
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/TicTacToeServletTest.java
Labels: api: appengine, samples

#8357 chore(speech): adds missing region tags
  speech/src/main/java/com/example/speech/AdaptationInlinePhraseSetV2.java
  speech/src/main/java/com/example/speech/AdaptationPhraseSetReferenceV2.java
  speech/src/main/java/com/example/speech/CreateRecognizerV2.java
  speech/src/main/java/com/example/speech/QuickstartSampleV2.java
  speech/src/main/java/com/example/speech/TranscribeFileV2.java
Labels: api: speech, samples

#8335 feat(eventarc): Update sample to use CloudEvent SDK
  eventarc/audit-storage/pom.xml
  eventarc/audit-storage/src/main/java/com/example/cloudrun/EventController.java
  eventarc/audit-storage/src/test/java/com/example/cloudrun/EventControllerTests.java
Labels: samples, api: eventarc

#8348 Modified employee_id in input table
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableWithFpe.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: automerge, api: dlp, samples

#8361 docs: Update comments
  cdn/signed-urls/src/main/java/com/google/cdn/SignedUrls.java
Labels: samples

#8285 feat(eventarc): CloudEvent handler for storage objects
  eventarc/storage-handler/README.md
  eventarc/storage-handler/pom.xml
  eventarc/storage-handler/project.toml
  eventarc/storage-handler/src/main/java/com/example/cloudrun/Application.java
  eventarc/storage-handler/src/main/java/com/example/cloudrun/CloudEventController.java
  eventarc/storage-handler/src/main/resources/application.properties
  eventarc/storage-handler/src/test/java/com/example/cloudrun/ApplicationTests.java
Labels: samples, api: eventarc

#8365 chore: update renovate
  renovate.json
Labels: samples

#8353 feat(aiplatform): add code sample to update an image using text prompts
  aiplatform/src/main/java/aiplatform/PredictImageFromImageAndTextSample.java
  aiplatform/src/test/java/aiplatform/PredictImageFromImageAndTextSampleTest.java
Labels: samples, api: aiplatform

#8352 feat(aiplataform): add code sample for generating images from text prompts
  aiplatform/src/main/java/aiplatform/PredictImageFromTextSample.java
  aiplatform/src/test/java/aiplatform/PredictImageFromTextSampleTest.java
Labels: samples, api: aiplatform

#8356 feat(functions): create new sample for typed function signature
  functions/v2/typed/greeting/pom.xml
  functions/v2/typed/greeting/src/main/java/functions/Greeting.java
  functions/v2/typed/greeting/src/main/java/functions/GreetingRequest.java
  functions/v2/typed/greeting/src/main/java/functions/GreetingResponse.java
  functions/v2/typed/greeting/src/test/java/functions/GreetingTest.java
Labels: api: cloudfunctions, samples

#8369 chore: combine io.quarkus dependencies
  renovate.json
Labels: samples

#7891 feat: add experimental support for reverse scans public preview
  bigtable/hbase/snippets/pom.xml
  bigtable/hbase/snippets/src/main/java/com/example/bigtable/Reads.java
  bigtable/hbase/snippets/src/test/java/com/example/bigtable/ReadsTest.java
Labels: automerge, api: bigtable, samples
