Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-05, with the labels that each got.

#7959 fix: update workflows quickstart
  workflows/cloud-client/pom.xml
  workflows/cloud-client/src/main/java/com/example/workflows/WorkflowsQuickstart.java
  workflows/cloud-client/src/test/java/com/example/workflows/WorkflowsQuickstartTest.java
  workflows/cloud-client/src/test/java/com/example/workflows/resources/source.yaml
Labels: samples, api: workflows

#7941 Adding main method
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableBucketing.java
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableConditionInfoTypes.java
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableConditionMasking.java
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableInfoTypes.java
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableRowSuppress.java
Labels: api: dlp, samples

#7968 chore: update deprecated Base64 and JsonParser references
  aiplatform/src/main/java/aiplatform/PredictImageClassificationSample.java
  aiplatform/src/main/java/aiplatform/PredictImageObjectDetectionSample.java
  appengine-java8/datastore/pom.xml
  appengine-java8/firebase-tictactoe/src/main/java/com/example/appengine/firetactoe/MoveServlet.java
  appengine-java8/mailjet/src/main/java/com/example/appengine/mailjet/MailjetServlet.java
  appengine-java8/pubsub/src/main/java/com/example/appengine/pubsub/PubSubAuthenticatedPush.java
  appengine-java8/pubsub/src/main/java/com/example/appengine/pubsub/PubSubPush.java
  appengine-java8/translate-pubsub/src/main/java/com/example/appengine/translatepubsub/PubSubPush.java
  asset/src/test/java/com/example/asset/RealTimeFeed.java
  bigtable/use-cases/fraudDetection/src/main/java/bigtable/fraud/beam/utils/AggregatedData.java
  bigtable/use-cases/fraudDetection/src/main/java/bigtable/fraud/beam/utils/CustomerProfile.java
  bigtable/use-cases/fraudDetection/src/main/java/bigtable/fraud/beam/utils/RowDetails.java
  bigtable/use-cases/fraudDetection/src/main/java/bigtable/fraud/beam/utils/TransactionDetails.java
  container-registry/container-analysis/src/main/java/com/example/containeranalysis/Subscriptions.java
  container-registry/container-analysis/src/test/java/com/example/containeranalysis/SamplesTest.java
  dataflow/flex-templates/kafka_to_bigquery/pom.xml
  dataflow/flex-templates/kafka_to_bigquery/src/main/java/org/apache/beam/samples/KafkaToBigQuery.java
  dataflow/flex-templates/streaming_beam_sql/pom.xml
  dataflow/flex-templates/streaming_beam_sql/src/main/java/org/apache/beam/samples/StreamingBeamSql.java
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/BigQueryReadAvro.java
  dataflow/spanner-io/pom.xml
  dataflow/spanner-io/src/main/java/com/example/dataflow/SpannerWrite.java
  dataflow/spanner-io/src/main/java/com/example/dataflow/TransactionalRead.java
  datalabeling/snippets/src/test/java/com/example/datalabeling/CreateAnnotationSpecSetIT.java
  datalabeling/snippets/src/test/java/com/example/datalabeling/CreateDatasetIT.java
  datalabeling/snippets/src/test/java/com/example/datalabeling/CreateInstructionIT.java
  datalabeling/snippets/src/test/java/com/example/datalabeling/ImportDataIT.java
  dialogflow/basic-webhook/src/main/java/com/example/dialogflow/cx/BasicWebhook.java
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
  dlp/snippets/src/test/java/dlp/snippets/RiskAnalysisTests.java
  flexible/java-11/pubsub/src/main/java/com/example/flexible/pubsub/PubSubPush.java
  flexible/java-8/pubsub/src/main/java/com/example/flexible/pubsub/PubSubPush.java
  flexible/pubsub/src/main/java/com/example/flexible/pubsub/PubSubPush.java
  healthcare/v1/src/test/java/snippets/healthcare/DatasetTests.java
  healthcare/v1/src/test/java/snippets/healthcare/DicomStoreTests.java
  healthcare/v1/src/test/java/snippets/healthcare/DicomWebTests.java
  healthcare/v1/src/test/java/snippets/healthcare/FhirResourceTests.java
  healthcare/v1/src/test/java/snippets/healthcare/FhirStoreTests.java
  healthcare/v1/src/test/java/snippets/healthcare/Hl7v2MessageTests.java
  healthcare/v1/src/test/java/snippets/healthcare/Hl7v2StoreTests.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/DeviceRegistryExample.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/HttpExample.java
  iot/api-client/manager/src/test/java/com/example/cloud/iot/examples/ManagerIT.java
  recaptcha_enterprise/snippets/src/pom.xml
  run/endpoints-v2-backend/src/test/java/com/example/controllers/RepeatControllerIT.java
  servicedirectory/src/main/java/com/example/servicedirectory/ServicesCreate.java
  servicedirectory/src/test/java/com/example/servicedirectory/EndpointsTests.java
  servicedirectory/src/test/java/com/example/servicedirectory/NamespacesTests.java
  servicedirectory/src/test/java/com/example/servicedirectory/ServicesTests.java
Labels: api: datalabeling, samples

#7922 [DLP] Implemented Inspect Gcs File and Send findings to SCC
  dlp/snippets/src/main/java/dlp/snippets/InspectGcsFileSendToScc.java
  dlp/snippets/src/test/java/dlp/snippets/JobsTests.java
Labels: api: dlp, samples

#7928 [DLP] Implemented deidentify data using a cryptographic hash transformation
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableWithCryptoHash.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: api: dlp, samples

#7827 docs(samples): Created Initial Sample for Generative AI app builder - Search
  .github/CODEOWNERS
  discoveryengine/pom.xml
  discoveryengine/src/main/java/discoveryengine/v1beta/Search.java
  discoveryengine/src/test/java/discoveryengine/v1beta/SearchTest.java
Labels: automerge, samples

#7979 fix: update demosite to reflect error messages in client
  recaptcha_enterprise/demosite/src/main/java/app/MainController.java
  recaptcha_enterprise/demosite/src/main/resources/static/scripts/demo-39df041b.js
  recaptcha_enterprise/demosite/src/main/resources/static/scripts/global-e680a49614fd8ff8.js
Labels: api: recaptchaenterprise, samples

#7924 [DLP] Implemented Inspect Datastore data and Send findings to SCC
  dlp/snippets/README.md
  dlp/snippets/src/main/java/dlp/snippets/InspectDatastoreSendToScc.java
  dlp/snippets/src/test/java/dlp/snippets/JobsTests.java
  dlp/snippets/src/test/java/dlp/snippets/TestBase.java
Labels: api: dlp, samples

#7993 chore: change workloadgenerator to managed dependency
  bigtable/beam/workload-generator/pom.xml
Labels: api: bigtable, samples

#7995 fix: firewall patch test
  compute/cloud-client/src/test/java/compute/FirewallIT.java
Labels: api: compute, samples

#7923 [DLP] Implemented Inspect Bigquery Table and Send findings to SCC
  dlp/snippets/src/main/java/dlp/snippets/InspectBigQuerySendToScc.java
  dlp/snippets/src/test/java/dlp/snippets/JobsTests.java
Labels: api: dlp, samples

#8006 chore: update pubsublite/streaming-analytics
  pubsublite/streaming-analytics/README.md
  pubsublite/streaming-analytics/build.gradle
  pubsublite/streaming-analytics/metadata.json
  pubsublite/streaming-analytics/pom.xml
  pubsublite/streaming-analytics/src/main/java/examples/PubsubliteToGcs.java
  pubsublite/streaming-analytics/src/test/java/examples/PubsubliteToGcsIT.java
Labels: samples, api: pubsublite

#7980 [DLP] Deidentify table with two separate cryptographic hash transformations
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyTableWithMultipleCryptoHash.java
  dlp/snippets/src/test/java/dlp/snippets/DeIdentificationTests.java
Labels: api: dlp, samples

#7896 sample: read fv
  aiplatform/src/main/java/aiplatform/ReadFeatureValuesSample.java
  aiplatform/src/test/java/aiplatform/FeatureValuesSamplesTest.java
  aiplatform/src/test/java/aiplatform/FeaturestoreSamplesTest.java
Labels: samples, api: aiplatform

#8027 chore: pubsub sample cleanup
  pubsub/spring/README.md
  pubsub/spring/build.gradle
  pubsub/streaming-analytics/README.md
  pubsub/streaming-analytics/build.gradle
  pubsub/streaming-analytics/pom.xml
  pubsub/streaming-analytics/src/main/java/com/examples/pubsub/streaming/PubSubToGcs.java
Labels: api: pubsub, samples

#8016 chore: update ownership for asset team
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#8018 Update the region tag.
  kms/src/main/java/kms/ConvertPublicKeyToJwk.java
Labels: api: cloudkms, samples

#8017 feat: add media cdn dual token sample
  media_cdn/README.md
  media_cdn/pom.xml
  media_cdn/src/main/java/token/DualToken.java
  media_cdn/src/test/java/token/DualTokenIT.java
Labels: samples

#8005 fix: address generic type warnings
  appengine-java8/appidentity/src/main/java/com/example/appengine/appidentity/UrlShortener.java
  appengine-java8/bigquery/src/main/java/com/example/appengine/bigquerylogging/BigQueryHome.java
  appengine-java8/bigquery/src/main/java/com/example/appengine/bigquerylogging/BigQueryRunner.java
  appengine-java8/bigquery/src/main/java/com/example/appengine/bigquerylogging/TimeSeriesSummary.java
  appengine-java8/bigquery/src/test/java/com/example/appengine/bigquerylogging/BigQueryRunnerTest.java
  appengine-java8/datastore-schedule-export/src/main/java/com/example/datastore/DatastoreExportServlet.java
  appengine-java8/datastore/src/test/java/com/example/appengine/EntitiesTest.java
  appengine-java8/datastore/src/test/java/com/example/appengine/MetadataKindsTest.java
  appengine-java8/datastore/src/test/java/com/example/appengine/MetadataNamespacesTest.java
  appengine-java8/datastore/src/test/java/com/example/appengine/MetadataPropertiesTest.java
  appengine-java8/endpoints-v2-guice/src/main/java/com/example/echo/EchoEndpointModule.java
  appengine-java8/firebase-backend/src/main/java/com/google/cloud/solutions/flexenv/backend/MessagePurger.java
  appengine-java8/firebase-event-proxy/src/main/java/com/example/GaeFirebaseEventProxy/FirebaseEventProxy.java
  appengine-java8/firebase-tictactoe/src/main/java/com/example/appengine/firetactoe/FirebaseChannel.java
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/DeleteServletTest.java
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/MoveServletTest.java
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/OpenedServletTest.java
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/TicTacToeServletTest.java
  bigtable/scheduled-backups/src/test/java/com/example/cloud/bigtable/scheduledbackups/CreateBackupTestIT.java
  dataflow/spanner-io/src/main/java/com/example/dataflow/SpannerGroupWrite.java
  endpoints/bookstore-grpc/server/src/main/java/com/google/endpoints/examples/bookstore/BookstoreData.java
  eventarc/audit-storage/src/main/java/com/example/cloudrun/EventController.java
  eventarc/generic/src/main/java/com/example/cloudrun/EventController.java
  eventarc/pubsub/src/main/java/com/example/cloudrun/EventController.java
  flexible/async-rest/src/main/java/com/google/appengine/demos/asyncrest/AbstractRestServlet.java
  flexible/async-rest/src/main/java/com/google/appengine/demos/asyncrest/AsyncRestServlet.java
  flexible/async-rest/src/main/java/com/google/appengine/demos/asyncrest/SerialRestServlet.java
  flexible/java-8/async-rest/src/main/java/com/google/appengine/demos/asyncrest/AbstractRestServlet.java
  flexible/java-8/async-rest/src/main/java/com/google/appengine/demos/asyncrest/AsyncRestServlet.java
  flexible/java-8/async-rest/src/main/java/com/google/appengine/demos/asyncrest/SerialRestServlet.java
  functions/helloworld/hello-http/src/test/java/functions/ExampleSystemIT.java
  functions/ocr/ocr-process-image/src/main/java/functions/OcrTranslateApiMessage.java
  functions/ocr/ocr-save-result/src/main/java/functions/OcrTranslateApiMessage.java
  functions/ocr/ocr-translate-text/src/main/java/functions/OcrTranslateApiMessage.java
  functions/v2/ocr/ocr-process-image/src/main/java/functions/OcrTranslateApiMessage.java
  functions/v2/ocr/ocr-save-result/src/main/java/functions/OcrTranslateApiMessage.java
  functions/v2/ocr/ocr-translate-text/src/main/java/functions/OcrTranslateApiMessage.java
  healthcare/v1/src/main/java/snippets/healthcare/dicom/DicomStoreCreate.java
  healthcare/v1/src/main/java/snippets/healthcare/fhir/FhirStoreCreate.java
  iam/api-client/src/main/java/iam/snippets/AddBinding.java
  iam/api-client/src/test/java/iam/snippets/AccessTests.java
  monitoring/cloud-client/src/main/java/com/example/monitoring/QuickstartSample.java
  monitoring/v3/src/main/java/com/example/monitoring/QuickstartSample.java
  run/filesystem/src/test/java/com/example/filesystem/FilesystemApplicationTests.java
  run/idp-sql/src/main/java/com/example/cloudrun/IdpSqlApplication.java
  run/image-processing/src/main/java/com/example/cloudrun/ImageMagick.java
  run/markdown-preview/renderer/src/test/java/com/example/cloudrun/RendererApplicationTests.java
  run/pubsub/src/main/java/com/example/cloudrun/PubSubController.java
  run/system-package/src/main/java/com/example/cloudrun/App.java
  spanner/leaderboard/complete/src/main/java/com/google/codelabs/App.java
  spanner/leaderboard/step5/src/main/java/com/google/codelabs/App.java
  spanner/leaderboard/step6/src/main/java/com/google/codelabs/App.java
  spanner/r2dbc/src/test/java/com/example/spanner/r2dbc/R2dbcSampleApplicationIT.java
  speech/src/main/java/com/example/speech/InfiniteStreamRecognize.java
  vision/snippets/src/main/java/com/example/vision/snippets/PurgeProducts.java
Labels: api: appengine, samples

#8032 chore: migrate org.joda.time to java.time (JSR310)
  appengine-java11-bundled-services/datastore/pom.xml
  appengine-java17-bundled-services/datastore/pom.xml
  appengine-java8/datastore/pom.xml
  appengine-java8/datastore/src/main/java/com/example/appengine/AbstractGuestbook.java
  appengine-java8/datastore/src/main/java/com/example/appengine/Greeting.java
  appengine-java8/datastore/src/main/java/com/example/time/Clock.java
  appengine-java8/datastore/src/main/java/com/example/time/SystemClock.java
  appengine-java8/datastore/src/main/java/com/example/time/testing/FakeClock.java
  appengine-java8/datastore/src/test/java/com/example/appengine/GuestbookStrongTest.java
  iot/api-client/codelab/manager/pom.xml
  iot/api-client/codelab/manager/src/main/java/com/example/cloud/iot/examples/MqttCommandsDemo.java
  iot/api-client/end-to-end-example/pom.xml
  iot/api-client/end-to-end-example/src/main/java/com/example/cloud/iot/endtoend/CloudiotPubsubExampleMqttDevice.java
  iot/api-client/manager/pom.xml
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/HttpExample.java
  iot/api-client/manager/src/main/java/com/example/cloud/iot/examples/MqttExample.java
  trace/pom.xml
  trace/src/main/java/com/example/trace/TraceSample.java
Labels: api: cloudiot, samples

#8036 fix: update package path for simple jetty server
  appengine-java11/appengine-simple-jetty-main/README.md
  appengine-java11/appengine-simple-jetty-main/pom.xml
  appengine-java11/appengine-simple-jetty-main/src/main/java/com/example/appengine/jetty/Main.java
  appengine-java11/cloudsql/app.yaml
  appengine-java11/gaeinfo/src/main/appengine/app.yaml
  appengine-java11/guestbook-cloud-firestore/pom.xml
  appengine-java11/guestbook-cloud-firestore/src/main/appengine/app.yaml
  appengine-java11/helloworld-servlet/README.md
  appengine-java11/helloworld-servlet/pom.xml
  appengine-java11/helloworld-servlet/src/main/appengine/app.yaml
  appengine-java11/oauth2/pom.xml
  appengine-java11/oauth2/src/main/appengine/app.yaml
  appengine-java11/spanner/pom.xml
  appengine-java11/spanner/src/main/appengine/app.yaml
Labels: api: appengine, samples

#7982 [DLP] Implemented Inspect Table With Custom Hotword
  dlp/snippets/src/main/java/dlp/snippets/InspectTableWithCustomHotword.java
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
Labels: api: dlp, samples

#7981 [DLP] Update an existing job trigger
  dlp/snippets/src/main/java/dlp/snippets/TriggersPatch.java
  dlp/snippets/src/test/java/dlp/snippets/TriggersTests.java
Labels: api: dlp, samples

#8130 chore: group SLF4J dependency updates
  renovate.json
Labels: samples

#8127 chore: update region tag - listModelEvaluationSliceSample - aiplatform
  aiplatform/src/main/java/aiplatform/ListModelEvaluationSliceSample.java
Labels: samples, api: aiplatform

#8083 fixit: add 7 iam samples
  iam/snippets/pom.xml
  iam/snippets/src/main/java/CreateDenyPolicy.java
  iam/snippets/src/main/java/CreateRole.java
  iam/snippets/src/main/java/DeleteRole.java
  iam/snippets/src/main/java/EditRole.java
  iam/snippets/src/main/java/GetRole.java
  iam/snippets/src/main/java/ListRoles.java
  iam/snippets/src/main/java/QueryTestablePermissions.java
  iam/snippets/src/main/java/UndeleteRole.java
  iam/snippets/src/main/java/UpdateDenyPolicy.java
  iam/snippets/src/test/java/DenyIT.java
  iam/snippets/src/test/java/RoleIT.java
Labels: api: iam, samples

#8070 chore: update comments in media_cdn
  media_cdn/src/main/java/token/DualToken.java
Labels: samples

#8019 chore: correction in DeIdentifyWithExceptionList
  dlp/snippets/src/main/java/dlp/snippets/DeIdentifyWithExceptionList.java
Labels: api: dlp, samples

#8138 feat: add secretmanager sample for ConsumeEventNotification
  secretmanager/pom.xml
  secretmanager/src/main/java/secretmanager/ConsumeEventNotification.java
  secretmanager/src/test/java/secretmanager/SnippetsIT.java
Labels: api: secretmanager, samples

#8137 chore: group Bigtable dependency updates
  renovate.json
Labels: samples

#8134 fixit: create new sample for Prometheus SLI
  monitoring/prometheus/README.md
  monitoring/prometheus/pom.xml
  monitoring/prometheus/src/main/java/com/example/prometheus/PrometheusApplication.java
  monitoring/prometheus/src/main/resources/application.properties
  monitoring/prometheus/src/test/java/com/example/prometheus/PrometheusApplicationTests.java
Labels: api: monitoring, samples

#8085 fixit: new sample for response streaming
  functions/v2/response-streaming/pom.xml
  functions/v2/response-streaming/src/main/java/com/google/StreamBigQuery.java
  functions/v2/response-streaming/src/test/java/com/google/StreamBigQueryTest.java
Labels: api: cloudfunctions, samples

#8158 fix: add multiple retries to Content Warehouse sample
  content-warehouse/src/test/java/contentwarehouse/v1/QuickStartTest.java
Labels: automerge, samples

#8160 Remove gaeinfo project. We no longer support flex compat applications.
  flexible/gaeinfo/README.md
  flexible/gaeinfo/pom.xml
  flexible/gaeinfo/src/main/java/com/example/appengine/flex_compat/GaeInfoServlet.java
  flexible/gaeinfo/src/main/webapp/WEB-INF/appengine-web.xml
  flexible/gaeinfo/src/main/webapp/WEB-INF/templates/index.html
  flexible/gaeinfo/src/main/webapp/WEB-INF/web.xml
  flexible/java-8/gaeinfo/README.md
  flexible/java-8/gaeinfo/pom.xml
  flexible/java-8/gaeinfo/src/main/java/com/example/appengine/flex_compat/GaeInfoServlet.java
  flexible/java-8/gaeinfo/src/main/webapp/WEB-INF/appengine-web.xml
  flexible/java-8/gaeinfo/src/main/webapp/WEB-INF/templates/index.html
  flexible/java-8/gaeinfo/src/main/webapp/WEB-INF/web.xml
Labels: api: appengine, samples

#8150 fix(deps): update dependency io.quarkus:quarkus-bom to v3
  appengine-java11/quarkus-helloworld/pom.xml
  appengine-java11/quarkus-helloworld/src/main/java/com/example/appengine/quarkus/HelloResource.java
Labels: api: appengine, samples

#8168 chore: bigtable change-streams cleanup
  bigtable/beam/change-streams/README.md
  bigtable/beam/change-streams/pom.xml
Labels: api: bigtable, samples

#8002 feat: Add code samples for AnalyzeOrgPolicies, AnalyzeOrgPolicyGovern…
  asset/src/main/java/com/example/asset/AnalyzeOrgPoliciesExample.java
  asset/src/main/java/com/example/asset/AnalyzeOrgPolicyGovernedAssetsExample.java
  asset/src/main/java/com/example/asset/AnalyzeOrgPolicyGovernedContainersExample.java
  asset/src/test/java/com/example/asset/OrgPolicyAnalyzerIT.java
Labels: api: cloudasset, samples

#8172 chore(endpoints): Update region tag with product prefix
  endpoints/getting-started/src/main/appengine/app.yaml
Labels: samples, api: endpoints

#8014 [DLP] Implementation of Inspecting data with stored infotype.
  dlp/snippets/src/main/java/dlp/snippets/InspectWithStoredInfotype.java
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
Labels: api: dlp, samples

#8013 [DLP] Inspect Data using Hybrid Job Trigger
  dlp/snippets/src/main/java/dlp/snippets/InspectDataToHybridJobTrigger.java
  dlp/snippets/src/test/java/dlp/snippets/JobsTests.java
Labels: api: dlp, samples

#8191 Use 'else if' to avoid re-classifying an interaction.
  recaptcha_enterprise/demosite/src/main/java/app/MainController.java
Labels: api: recaptchaenterprise, samples

#8195 chore: slow down frequently updated dependencies
  renovate.json
Labels: samples

#8198 fix: update nightly failures
  appengine-java8/firebase-tictactoe/src/test/java/com/example/appengine/firetactoe/TicTacToeServletTest.java
  pubsublite/streaming-analytics/src/test/java/examples/PubsubliteToGcsIT.java
Labels: api: appengine, samples

#8156 [DLP] Implementation of computing K Anonymity With EntityId
  dlp/snippets/src/main/java/dlp/snippets/RiskAnalysisKAnonymityWithEntityId.java
  dlp/snippets/src/test/java/dlp/snippets/RiskAnalysisTests.java
Labels: api: dlp, samples

#8001 Add BatchGetEffectiveIamPolicy sample code
  asset/src/main/java/com/example/asset/BatchGetEffectiveIamPolicyExample.java
  asset/src/test/java/com/example/asset/BatchGetEffectiveIamPolicyTest.java
Labels: api: cloudasset, samples

#8210 chore: group jackson.core dependencies
  renovate.json
Labels: samples

#8194 fix: update to remove region tag conflict
  dialogflow/snippets/src/main/dialogflow/Example.java
Labels: api: dialogflow, samples
