Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2023-07, with the labels that each got.

#8380 fix: cleanup testMonitorCertificateAuthority() test
  monitoring/v3/src/test/java/com/example/monitoring/ListAlertPolicyIT.java
  privateca/snippets/src/main/java/privateca/MonitorCertificateAuthority.java
  privateca/snippets/src/test/java/privateca/SnippetsIT.java
Labels: samples, api: privateca

#8389 fix: address quota warnings for privateca
  privateca/snippets/README.md
  privateca/snippets/src/test/java/privateca/SnippetsIT.java
  privateca/snippets/src/test/java/privateca/Util.java
Labels: samples, api: privateca

#8385 fix: update batch region to address quota alerts
  batch/snippets/src/main/java/com/example/batch/CreateWithContainerNoMounting.java
  batch/snippets/src/main/java/com/example/batch/CreateWithMountedBucket.java
  batch/snippets/src/main/java/com/example/batch/CreateWithScriptNoMounting.java
  batch/snippets/src/main/java/com/example/batch/CreateWithTemplate.java
  batch/snippets/src/main/java/com/example/batch/DeleteJob.java
  batch/snippets/src/main/java/com/example/batch/GetJob.java
  batch/snippets/src/main/java/com/example/batch/GetTask.java
  batch/snippets/src/main/java/com/example/batch/ListJobs.java
  batch/snippets/src/main/java/com/example/batch/ListTasks.java
  batch/snippets/src/main/java/com/example/batch/ReadJobLogs.java
  batch/snippets/src/test/java/com/example/batch/BatchBasicIT.java
  batch/snippets/src/test/java/com/example/batch/BatchBucketIT.java
  batch/snippets/src/test/java/com/example/batch/BatchTemplateIT.java
  batch/snippets/src/test/java/com/example/batch/Util.java
Labels: samples, api: batch

#8391 chore(aiplatform): temporarily remove unready samples
  aiplatform/src/main/java/aiplatform/PredictImageFromImageAndTextSample.java
  aiplatform/src/main/java/aiplatform/PredictImageFromTextSample.java
  aiplatform/src/test/java/aiplatform/PredictImageFromImageAndTextSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictImageFromTextSampleTest.java
Labels: samples, api: aiplatform

#8392 Remove Unused code
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
Labels: api: dlp, samples

#8395 chore(cleanup): retire media translate samples
  mediatranslation/README.md
  mediatranslation/src/test/java/com/example/mediatranslation/TranslateFromFileTest.java
Labels: samples, api: mediatranslation

#8397 fix: delete container image after test
  run/filesystem/src/test/java/com/example/filesystem/ApplicationTests.java
Labels: api: run, samples

#8387 fix: add retries to pubsublite test
  pubsublite/streaming-analytics/src/test/java/examples/PubsubliteToGcsIT.java
Labels: samples, api: pubsublite

#8291 [DLP] Refactor SCC samples
  dlp/snippets/src/main/java/dlp/snippets/DeidentifyCloudStorage.java
  dlp/snippets/src/main/java/dlp/snippets/InspectBigQuerySendToScc.java
  dlp/snippets/src/main/java/dlp/snippets/InspectDatastoreSendToScc.java
  dlp/snippets/src/main/java/dlp/snippets/InspectGcsFileSendToScc.java
  dlp/snippets/src/test/java/dlp/snippets/JobsTests.java
Labels: api: dlp, samples

#8401 feat: accessapproval snippet migration
  .github/CODEOWNERS
  .github/auto-label.yaml
  accessapproval/snippets/pom.xml
  accessapproval/snippets/src/main/java/accessapproval/ListRequest.java
  accessapproval/snippets/src/test/java/accessapproval/ListRequestIT.java
Labels: samples

#8254 docs: Bigtable change streams song rank example/tutorial
  bigtable/beam/change-streams/README.md
  bigtable/beam/change-streams/pom.xml
  bigtable/beam/change-streams/song-rank-data.csv
  bigtable/beam/change-streams/src/main/java/SongRank.java
  bigtable/beam/change-streams/src/test/java/SongRankTest.java
Labels: automerge, api: bigtable, samples

#8409 chore: add null checks to IAM snippets
  iam/api-client/src/main/java/iam/snippets/CreateServiceAccountKey.java
  iam/api-client/src/main/java/iam/snippets/Quickstart.java
  iam/api-client/src/main/java/iam/snippets/RemoveMember.java
  iam/api-client/src/test/java/iam/snippets/QuickstartTests.java
Labels: api: iam, samples

#8406 fix(compute): fix flaky issues in firewall and cmt
  compute/cloud-client/src/test/java/compute/FirewallIT.java
  compute/cloud-client/src/test/java/compute/InstanceOperationsIT.java
  compute/cloud-client/src/test/java/compute/InstanceTemplatesIT.java
  compute/cloud-client/src/test/java/compute/InstancesAdvancedIT.java
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
  compute/cloud-client/src/test/java/compute/Util.java
  compute/cloud-client/src/test/java/compute/customhostname/CustomHostnameInstanceIT.java
  compute/cloud-client/src/test/java/compute/custommachinetype/CustomMachineTypeIT.java
  compute/cloud-client/src/test/java/compute/custommachinetype/HelperIT.java
  compute/cloud-client/src/test/java/compute/deleteprotection/DeleteProtectionIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksFromSourceIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
  compute/cloud-client/src/test/java/compute/disks/SnapshotsIT.java
  compute/cloud-client/src/test/java/compute/preemptible/PreemptibleIT.java
  compute/cloud-client/src/test/java/compute/windows/osimage/WindowsOsImageIT.java
  compute/cloud-client/src/test/java/compute/windows/windowsinstances/CreatingManagingWindowsInstancesIT.java
Labels: api: compute, samples

#8419 cdn/signed-urls: use correct HMac algorithm
  cdn/signed-urls/src/main/java/com/google/cdn/SignedCookies.java
  cdn/signed-urls/src/main/java/com/google/cdn/SignedUrlWithPrefix.java
  cdn/signed-urls/src/main/java/com/google/cdn/SignedUrls.java
  cdn/signed-urls/src/test/java/com/google/cdn/SignedCookiesTest.java
  cdn/signed-urls/src/test/java/com/google/cdn/SignedUrlWithPrefixTest.java
  cdn/signed-urls/src/test/java/com/google/cdn/SignedUrlsTest.java
Labels: samples

#8421 docs: Bigtable cdc example cleanup
  bigtable/beam/change-streams/README.md
  bigtable/beam/change-streams/src/main/java/SongRank.java
Labels: api: bigtable, samples

#8420 fix: update Cloud Run filesystem sample
  run/filesystem/src/test/java/com/example/filesystem/ApplicationTests.java
Labels: api: run, samples

#8413 feat: migrating java-bigqueryconnection snippet
  .kokoro/tests/run_tests.sh
  bigquery/bigqueryconnection/snippets/pom.xml
  bigquery/bigqueryconnection/snippets/src/main/java/com/example/bigqueryconnection/CreateAwsConnection.java
  bigquery/bigqueryconnection/snippets/src/main/java/com/example/bigqueryconnection/CreateConnection.java
  bigquery/bigqueryconnection/snippets/src/main/java/com/example/bigqueryconnection/DeleteConnection.java
  bigquery/bigqueryconnection/snippets/src/main/java/com/example/bigqueryconnection/GetConnection.java
  bigquery/bigqueryconnection/snippets/src/main/java/com/example/bigqueryconnection/ListConnections.java
  bigquery/bigqueryconnection/snippets/src/main/java/com/example/bigqueryconnection/QuickstartSample.java
  bigquery/bigqueryconnection/snippets/src/main/java/com/example/bigqueryconnection/ShareConnection.java
  bigquery/bigqueryconnection/snippets/src/main/java/com/example/bigqueryconnection/UpdateConnection.java
  bigquery/bigqueryconnection/snippets/src/test/java/com/example/bigqueryconnection/CreateAwsConnectionIT.java
  bigquery/bigqueryconnection/snippets/src/test/java/com/example/bigqueryconnection/CreateConnectionIT.java
  bigquery/bigqueryconnection/snippets/src/test/java/com/example/bigqueryconnection/DeleteConnectionIT.java
  bigquery/bigqueryconnection/snippets/src/test/java/com/example/bigqueryconnection/GetConnectionIT.java
  bigquery/bigqueryconnection/snippets/src/test/java/com/example/bigqueryconnection/ListConnectionsIT.java
  bigquery/bigqueryconnection/snippets/src/test/java/com/example/bigqueryconnection/QuickstartSampleIT.java
  bigquery/bigqueryconnection/snippets/src/test/java/com/example/bigqueryconnection/ShareConnectionIT.java
  bigquery/bigqueryconnection/snippets/src/test/java/com/example/bigqueryconnection/UpdateConnectionIT.java
Labels: api: bigquery, samples

#8427 docs(samples): Update Gen App Builder sample to `v1` api
  discoveryengine/pom.xml
  discoveryengine/src/main/java/discoveryengine/v1/Search.java
  discoveryengine/src/test/java/discoveryengine/v1/SearchTest.java
Labels: samples

#8433 fix: don't throw error for test
  run/filesystem/src/test/java/com/example/filesystem/ApplicationTests.java
Labels: api: run, samples

#8430 [DLP] Mock flaky unit test cases
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
  dlp/snippets/src/test/java/dlp/snippets/RiskAnalysisTests.java
Labels: api: dlp, samples

#8431 [DLP] Fixed the error of job activation
  dlp/snippets/src/main/java/dlp/snippets/InspectDataToHybridJobTrigger.java
Labels: api: dlp, samples

#8438 fix: remove deprecated method from bigtable change-streams sample
  bigtable/beam/change-streams/pom.xml
  bigtable/beam/change-streams/src/main/java/SongRank.java
Labels: api: bigtable, samples

#8441 feat: migrating bigquerydatatransfer snippet
  .kokoro/tests/run_tests.sh
  bigquery/bigquerydatatransfer/snippets/pom.xml
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CopyDataset.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateAdManagerTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateAdsTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateAmazonS3Transfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateCampaignmanagerTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateCloudStorageTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreatePlayTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateRedshiftTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateScheduledQuery.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateScheduledQueryWithServiceAccount.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateTeradataTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateYoutubeChannelTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/CreateYoutubeContentOwnerTransfer.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/DeleteScheduledQuery.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/DeleteTransferConfig.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/DisableTransferConfig.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/GetTransferConfigInfo.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/ListTransferConfigs.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/QuickstartSample.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/ReEnableTransferConfig.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/RunDetails.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/RunHistory.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/RunNotification.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/ScheduleBackFill.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/UpdateCredentials.java
  bigquery/bigquerydatatransfer/snippets/src/main/java/com/example/bigquerydatatransfer/UpdateTransferConfig.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/CopyDatasetIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/CreateAmazonS3TransferIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/CreateCloudStorageTransferIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/CreateScheduledQueryIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/CreateScheduledQueryWithServiceAccountIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/DeleteScheduledQueryIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/DeleteTransferConfigIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/DisableTransferConfigIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/GetTransferConfigInfoIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/ListTransferConfigsIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/QuickstartSampleIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/ReEnableTransferConfigIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/RunDetailsIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/RunHistoryIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/RunNotificationIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/ScheduleBackFillIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/UpdateCredentialsIT.java
  bigquery/bigquerydatatransfer/snippets/src/test/java/com/example/bigquerydatatransfer/UpdateTransferConfigIT.java
Labels: api: bigquery, samples

#8446 feat: adding bigqueryreservation snippets
  bigquery/bigqueryreservation/snippets/pom.xml
  bigquery/bigqueryreservation/snippets/src/main/java/com/example/bigqueryreservation/QuickstartSample.java
  bigquery/bigqueryreservation/snippets/src/test/java/com/example/bigqueryreservation/QuickstartSampleIT.java
Labels: automerge, api: bigquery, samples

#8450 fix(aiplatform): add LRO timeout explicitly for model deployment operations
  aiplatform/src/main/java/aiplatform/DeployModelSample.java
  aiplatform/src/test/java/aiplatform/DeployModelSampleTest.java
Labels: samples, api: aiplatform

#8452 chore(aiplatform); Gen AI code samples update to support the recent product changes
  aiplatform/src/main/java/aiplatform/CreatePipelineJobModelTuningSample.java
  aiplatform/src/test/java/aiplatform/CreatePipelineJobModelTuningSampleTest.java
Labels: samples, api: aiplatform

#8447 chore: add multiple attempts on bigtable sample
  bigtable/hbase/snippets/src/test/java/com/example/bigtable/FiltersTest.java
Labels: api: bigtable, samples

#8456 fix: update speech class name
  speech/src/main/java/com/example/speech/AdaptationInlineCustomClassV2.java
Labels: api: speech, samples

#8471 Update renovate.json for micronaut breaking changes
  renovate.json
Labels: samples

#8475 fix(aiplatform): not to set trafficSplit when undeploying model
  aiplatform/src/main/java/aiplatform/UndeployModelSample.java
Labels: samples, api: aiplatform

#8480 docs(samples): Add error handling for BigQueryIO streaming example
  dataflow/snippets/src/main/java/com/example/dataflow/BigQueryStreamExactlyOnce.java
  dataflow/snippets/src/test/java/com/example/dataflow/BigQueryWriteIT.java
Labels: api: dataflow, samples

#8484 chore: update Spanner owner to arpan14
  .github/blunderbuss.yml
Labels: samples

#8476 feat(storagetransfer): add samples for event driven transfer
  storage-transfer/pom.xml
  storage-transfer/src/main/java/com/google/cloud/storage/storagetransfer/samples/CreateEventDrivenAwsTransfer.java
  storage-transfer/src/main/java/com/google/cloud/storage/storagetransfer/samples/CreateEventDrivenGcsTransfer.java
  storage-transfer/src/main/java/com/google/cloud/storage/storagetransfer/samples/TransferFromAzure.java
  storage-transfer/src/test/java/com/google/cloud/storage/storagetransfer/samples/test/ITStoragetransferSamplesTest.java
Labels: api: storagetransfer, samples
