Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2024-06, with the labels that each got.

#9355 chore(proc): add periodic test config for TPC testing
  .kokoro/prptst/common.cfg
  .kokoro/prptst/periodic.cfg
  .kokoro/prptst/run_tests.sh
Labels: samples

#9358 docs: add greater pubsub org as owners of managedkafka directory
  .github/CODEOWNERS
Labels: samples

#9359 chore(proc): Update TPC test config
  .kokoro/prptst/run_tests.sh
Labels: samples

#9349 refactor(compute): create Instance bulk insert sample
  compute/cloud-client/src/main/java/compute/CreateInstanceBulkInsert.java
  compute/cloud-client/src/test/java/compute/InstanceTemplatesIT.java
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
Labels: api: compute, samples

#9360 chore(proc): fix prptst configuration build file path
  .kokoro/prptst/periodic.cfg
  .kokoro/tests/run_prptst_tests.sh
Labels: samples

#9339 docs(samples): Add snippets for Apache Iceberg using Managed I/O
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/ApacheIcebergRead.java
  dataflow/snippets/src/main/java/com/example/dataflow/ApacheIcebergWrite.java
  dataflow/snippets/src/test/java/com/example/dataflow/ApacheIcebergIT.java
Labels: api: dataflow, samples

#9361 chore(proc): set script permissions to allow execution
  .kokoro/tests/run_prptst_tests.sh
Labels: samples

#9362 chore(proc): add debug info
  .kokoro/tests/run_prptst_tests.sh
Labels: samples

#9363 chore(proc): clean up test prptst script
  .kokoro/tests/run_prptst_tests.sh
Labels: samples

#9365 chore(proc): add universe domain envar
  .kokoro/tests/run_prptst_tests.sh
Labels: samples

#9370 feat(managedkafka): code samples
  managedkafka/examples/pom.xml
  managedkafka/examples/src/main/java/examples/CreateCluster.java
  managedkafka/examples/src/main/java/examples/CreateTopic.java
  managedkafka/examples/src/main/java/examples/DeleteCluster.java
  managedkafka/examples/src/main/java/examples/DeleteConsumerGroup.java
  managedkafka/examples/src/main/java/examples/DeleteTopic.java
  managedkafka/examples/src/main/java/examples/GetCluster.java
  managedkafka/examples/src/main/java/examples/GetConsumerGroup.java
  managedkafka/examples/src/main/java/examples/GetTopic.java
  managedkafka/examples/src/main/java/examples/ListClusters.java
  managedkafka/examples/src/main/java/examples/ListConsumerGroups.java
  managedkafka/examples/src/main/java/examples/ListTopics.java
  managedkafka/examples/src/main/java/examples/UpdateCluster.java
  managedkafka/examples/src/main/java/examples/UpdateConsumerGroup.java
  managedkafka/examples/src/main/java/examples/UpdateTopic.java
  managedkafka/examples/src/test/java/examples/ClustersTest.java
  managedkafka/examples/src/test/java/examples/ConsumerGroupsTest.java
  managedkafka/examples/src/test/java/examples/MockDeleteOperationFuture.java
  managedkafka/examples/src/test/java/examples/MockOperationFuture.java
  managedkafka/examples/src/test/java/examples/TopicsTest.java
Labels: samples, api: managedkafka

#9346 feat: Adding API v2 Bigquery export samples
  security-command-center/snippets/pom.xml
  security-command-center/snippets/src/main/java/vtwo/bigquery/CreateBigQueryExport.java
  security-command-center/snippets/src/main/java/vtwo/bigquery/DeleteBigQueryExport.java
  security-command-center/snippets/src/main/java/vtwo/bigquery/GetBigQueryExport.java
  security-command-center/snippets/src/main/java/vtwo/bigquery/ListBigQueryExports.java
  security-command-center/snippets/src/main/java/vtwo/bigquery/UpdateBigQueryExport.java
  security-command-center/snippets/src/test/java/vtwo/BigQueryExportIT.java
Labels: api: securitycenter, samples

#9357 feat: update quickstart samples to use the Gemini Flash model
  vertexai/snippets/src/main/java/vertexai/gemini/Quickstart.java
  vertexai/snippets/src/main/java/vertexai/gemini/TextInput.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9366 chore: upgrade bom to latest
  compute/cloud-client/pom.xml
  compute/cloud-client/src/test/java/compute/InstanceOperationsIT.java
  compute/cloud-client/src/test/java/compute/InstanceTemplatesIT.java
  compute/cloud-client/src/test/java/compute/InstancesAdvancedIT.java
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
  compute/cloud-client/src/test/java/compute/customhostname/CustomHostnameInstanceIT.java
  compute/cloud-client/src/test/java/compute/custommachinetype/CustomMachineTypeIT.java
  compute/cloud-client/src/test/java/compute/deleteprotection/DeleteProtectionIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
  compute/cloud-client/src/test/java/compute/preemptible/PreemptibleIT.java
  compute/cloud-client/src/test/java/compute/windows/osimage/WindowsOsImageIT.java
Labels: api: compute, samples

#9348 refactor(compute): create Spot samples
  compute/cloud-client/src/main/java/compute/spots/CheckIsSpotVm.java
  compute/cloud-client/src/main/java/compute/spots/CreateSpotVm.java
  compute/cloud-client/src/test/java/compute/spots/SpotVmIT.java
Labels: api: compute, samples

#9343 refactor(compute): create Compute IP Address samples
  compute/cloud-client/src/main/java/compute/CreateInstanceBulkInsert.java
  compute/cloud-client/src/main/java/compute/SetUsageExportBucket.java
  compute/cloud-client/src/main/java/compute/ipaddress/AssignStaticExistingVm.java
  compute/cloud-client/src/main/java/compute/ipaddress/AssignStaticExternalNewVmAddress.java
  compute/cloud-client/src/main/java/compute/ipaddress/GetStaticIpAddress.java
  compute/cloud-client/src/main/java/compute/ipaddress/GetVmAddress.java
  compute/cloud-client/src/main/java/compute/ipaddress/ListStaticExternalIp.java
  compute/cloud-client/src/main/java/compute/ipaddress/PromoteEphemeralIp.java
  compute/cloud-client/src/main/java/compute/ipaddress/ReleaseStaticAddress.java
  compute/cloud-client/src/main/java/compute/ipaddress/ReserveNewExternalAddress.java
  compute/cloud-client/src/main/java/compute/ipaddress/UnassignStaticIpAddress.java
  compute/cloud-client/src/test/java/compute/InstanceOperationsIT.java
  compute/cloud-client/src/test/java/compute/InstancesAdvancedIT.java
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
  compute/cloud-client/src/test/java/compute/custommachinetype/CustomMachineTypeIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
  compute/cloud-client/src/test/java/compute/ipaddress/IPAddressTest.java
  compute/cloud-client/src/test/java/compute/preemptible/PreemptibleIT.java
  compute/cloud-client/src/test/java/compute/windows/windowsinstances/CreatingManagingWindowsInstancesIT.java
Labels: api: compute, samples

#9368 feat(compute): create Disks samples
  compute/cloud-client/src/main/java/compute/disks/CreateEncryptedDisk.java
  compute/cloud-client/src/main/java/compute/disks/CreateHyperdisk.java
  compute/cloud-client/src/main/java/compute/disks/storagepool/CreateDiskInStoragePool.java
  compute/cloud-client/src/main/java/compute/disks/storagepool/CreateHyperdiskStoragePool.java
  compute/cloud-client/src/test/java/compute/InstanceOperationsIT.java
  compute/cloud-client/src/test/java/compute/disks/HypedisksIT.java
Labels: api: compute, samples

#9375 feat: update samples to Gemini Flash; add updated region tags
  vertexai/snippets/src/main/java/vertexai/gemini/ChatDiscussion.java
  vertexai/snippets/src/main/java/vertexai/gemini/FunctionCalling.java
  vertexai/snippets/src/main/java/vertexai/gemini/GetTokenCount.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultiTurnMultimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalMultiImage.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalQuery.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalVideoInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/Quickstart.java
  vertexai/snippets/src/main/java/vertexai/gemini/SingleTurnMultimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/WithSafetySettings.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9347 refactor(compute): create Images samples
  compute/cloud-client/src/main/java/compute/images/CreateImageFromImage.java
  compute/cloud-client/src/main/java/compute/images/CreateImageFromSnapshot.java
  compute/cloud-client/src/main/java/compute/images/GetImage.java
  compute/cloud-client/src/main/java/compute/images/GetImageFromFamily.java
  compute/cloud-client/src/main/java/compute/images/ListImages.java
  compute/cloud-client/src/main/java/compute/images/SetImageDeprecationStatus.java
  compute/cloud-client/src/test/java/compute/images/ImagesIT.java
Labels: api: compute, samples

#9378 chore(proc): refactor running tests in tpc
  .kokoro/tests/run_prptst_tests.sh
Labels: samples

#9377 chore(CODEOWNERS): Add cloud-samples-reviewers as a global sample owner
  .github/CODEOWNERS
Labels: samples

#9381 fix(jobs): migrate to valid region tag job_discovery_commute_search
  jobs/v3/src/main/java/com/google/samples/CommuteSearchSample.java
Labels: api: jobs, samples

#9379 add job_get_job region tag
  jobs/v3/src/main/java/com/google/samples/BasicJobSample.java
Labels: api: jobs, samples

#9380 chore(appengine-java8): remove unused gae_java8_datastore_inequality_filters_sort_orders_valid
  appengine-java8/datastore/src/test/java/com/example/appengine/QueriesTest.java
Labels: api: appengine, samples, Fixit

#9383 fix(iap): delete invalid and unused region_tags
  iap/pom.xml
Labels: api: iap, samples, Fixit

#9384 Added modified region tag for migration
  jobs/v3/src/main/java/com/google/samples/CustomAttributeSample.java
Labels: api: jobs, samples

#9385 fixit: remove unused dataflow region tags
  dataflow/templates/src/main/java/com/example/dataflow/templates/WordCount.java
Labels: api: dataflow, samples, Fixit

#9386 chore(appengine-java8): Remove region tag gae_java8_app_identity_versioned_hostnames
  appengine-java8/appidentity/src/main/java/com/example/appengine/appidentity/IdentityServlet.java
Labels: api: appengine, samples

#9387 fixit: remove language unused samples
  language/analysis/README.md
  language/analysis/demo-beta.sh
  language/analysis/demo.cmd
  language/analysis/demo.sh
  language/analysis/pom.xml
  language/analysis/src/main/java/com/google/cloud/language/samples/Analyze.java
  language/analysis/src/main/java/com/google/cloud/language/samples/AnalyzeBeta.java
  language/analysis/src/test/java/com/google/cloud/language/samples/AnalyzeBetaIT.java
  language/analysis/src/test/java/com/google/cloud/language/samples/AnalyzeIT.java
Labels: api: language, samples, Fixit

#9376 refactor(batch): create Batch samples
  batch/snippets/src/main/java/com/example/batch/CreateBatchNotification.java
  batch/snippets/src/main/java/com/example/batch/CreateBatchUsingSecretManager.java
  batch/snippets/src/main/java/com/example/batch/CreateBatchUsingServiceAccount.java
  batch/snippets/src/main/java/com/example/batch/CreateGpuJob.java
  batch/snippets/src/main/java/com/example/batch/CreateLocalSsdJob.java
  batch/snippets/src/main/java/com/example/batch/CreatePersistentDiskJob.java
  batch/snippets/src/test/java/com/example/batch/CreateResourcesIT.java
Labels: samples, api: batch

#9391 bug 347826138 clean up the deprecated region attribute custom_attribte_filter_multi_attributes
  jobs/v3/src/main/java/com/google/samples/CustomAttributeSample.java
Labels: api: jobs, samples

#9390 refactor(batch): create Batch Custom Event sample
  batch/snippets/src/main/java/com/example/batch/CreateBatchCustomEvent.java
  batch/snippets/src/test/java/com/example/batch/CreateResourcesIT.java
Labels: samples, api: batch

#9371 refactor(compute): create Certificate samples
  .kokoro/tests/run_tests.sh
  compute/load-balancing/pom.xml
  compute/load-balancing/resources/certificate.pem
  compute/load-balancing/src/main/java/compute/CreateCertificate.java
  compute/load-balancing/src/main/java/compute/CreateRegionalCertificate.java
  compute/load-balancing/src/test/java/compute/CertificatesIT.java
Labels: api: compute, samples

#9393 chore: modify secret management
  .kokoro/tests/run_prptst_tests.sh
Labels: samples

#9394 Chore: Update region tag for JobServiceQuickstart.java
  jobs/v3/src/main/java/com/google/samples/JobServiceQuickstart.java
Labels: api: jobs, samples

#9396 fix: removed old region tag
  jobs/v3/src/main/java/com/google/samples/CommuteSearchSample.java
Labels: api: jobs, samples
