Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2024-07, with the labels that each got.

#9399 chore: remove get_job region tag from BasicJobSample.java
  jobs/v3/src/main/java/com/google/samples/BasicJobSample.java
Labels: api: jobs, samples

#9395 chore: Delete appengine-java8/multitenancy/
  appengine-java8/multitenancy/README.md
  appengine-java8/multitenancy/pom.xml
  appengine-java8/multitenancy/src/main/java/com/example/appengine/Greeting.java
  appengine-java8/multitenancy/src/main/java/com/example/appengine/Guestbook.java
  appengine-java8/multitenancy/src/main/java/com/example/appengine/MultitenancyServlet.java
  appengine-java8/multitenancy/src/main/java/com/example/appengine/NamespaceFilter.java
  appengine-java8/multitenancy/src/main/java/com/example/appengine/OfyHelper.java
  appengine-java8/multitenancy/src/main/java/com/example/appengine/SignGuestbookServlet.java
  appengine-java8/multitenancy/src/main/java/com/example/appengine/SomeRequestServlet.java
  appengine-java8/multitenancy/src/main/java/com/example/appengine/UpdateCountsServlet.java
  appengine-java8/multitenancy/src/main/webapp/WEB-INF/appengine-web.xml
  appengine-java8/multitenancy/src/main/webapp/WEB-INF/logging.properties
  appengine-java8/multitenancy/src/main/webapp/WEB-INF/web.xml
  appengine-java8/multitenancy/src/main/webapp/guestbook.jsp
  appengine-java8/multitenancy/src/main/webapp/stylesheets/main.css
  appengine-java8/multitenancy/src/test/java/com/example/appengine/GreetingTest.java
  appengine-java8/multitenancy/src/test/java/com/example/appengine/GuestbookTestUtilities.java
  appengine-java8/multitenancy/src/test/java/com/example/appengine/SignGuestbookServletTest.java
Labels: api: appengine, samples

#9400 feat(spanner): New Sample for OpenTelemetry Traces
  spanner/opentelemetry_traces/Readme.md
  spanner/opentelemetry_traces/pom.xml
  spanner/opentelemetry_traces/src/main/java/com/example/spanner/OpenTelemetryUsage.java
Labels: api: spanner, samples

#9402 fix(compute): Fixing compute region tag
  compute/cloud-client/src/main/java/compute/ipaddress/GetStaticIpAddress.java
Labels: api: compute, samples

#9403 chore: remove redundant fi
  .kokoro/tests/run_prptst_tests.sh
Labels: samples

#9408 docs(compute): Renaming a region tag to match other langs
  compute/cloud-client/src/main/java/compute/ipaddress/GetStaticIpAddress.java
Labels: api: compute, samples

#9392 docs(samples): Update Dataflow snippets to Beam 2.57
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/ApacheIcebergRead.java
  dataflow/snippets/src/main/java/com/example/dataflow/ApacheIcebergWrite.java
  dataflow/snippets/src/main/java/com/example/dataflow/PubSubWriteWithAttributes.java
Labels: api: dataflow, samples

#9405 Batch create nfs job
  batch/snippets/src/main/java/com/example/batch/CreateScriptJobWithNfs.java
  batch/snippets/src/test/java/com/example/batch/CreateResourcesIT.java
Labels: samples, api: batch

#9416 feat(batch): add Batch create custom network sample
  batch/snippets/src/main/java/com/example/batch/CreateBatchCustomNetwork.java
  batch/snippets/src/test/java/com/example/batch/CreateResourcesIT.java
Labels: kokoro:run, samples, api: batch

#9417 chore: update CODEOWNERS to add SCC team
  .github/CODEOWNERS
Labels: samples

#9413 feat(batch): add Batch labels allocation sample
  batch/snippets/src/main/java/com/example/batch/CreateBatchAllocationPolicyLabel.java
  batch/snippets/src/test/java/com/example/batch/CreateResourcesIT.java
Labels: samples, api: batch

#9415 feat(batch): add Batch labels runnable sample
  batch/snippets/src/main/java/com/example/batch/CreateBatchRunnableLabel.java
  batch/snippets/src/test/java/com/example/batch/CreateResourcesIT.java
Labels: kokoro:run, samples, api: batch

#9401 feat: added labels samples for secret manager
  secretmanager/src/main/java/secretmanager/CreateSecretWithLabels.java
  secretmanager/src/main/java/secretmanager/CreateUpdateSecretLabel.java
  secretmanager/src/main/java/secretmanager/DeleteSecretLabel.java
  secretmanager/src/main/java/secretmanager/ViewSecretLabels.java
  secretmanager/src/test/java/secretmanager/SnippetsIT.java
Labels: api: secretmanager, samples

#9314 Add a batch write flow control example for Bigtable
  bigtable/beam/batch-write-flow-control-example/README.md
  bigtable/beam/batch-write-flow-control-example/pom.xml
  bigtable/beam/batch-write-flow-control-example/src/main/java/bigtable/BatchWriteFlowControlExample.java
  bigtable/beam/batch-write-flow-control-example/src/test/java/bigtable/BatchWriteFlowControlExampleTest.java
Labels: api: bigtable, samples

#9419 docs(generativeai): add region tags for code samples
  aiplatform/src/main/java/aiplatform/CreatePipelineJobModelTuningSample.java
  aiplatform/src/main/java/aiplatform/EmbeddingModelTuningSample.java
  aiplatform/src/main/java/aiplatform/PredictChatPromptSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeChatSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeCompletionCommentSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeGenerationFunctionSample.java
  aiplatform/src/main/java/aiplatform/PredictImageFromImageAndTextSample.java
  aiplatform/src/main/java/aiplatform/PredictTextEmbeddingsSample.java
  aiplatform/src/main/java/aiplatform/PredictTextPromptSample.java
  vertexai/snippets/src/main/java/vertexai/gemini/GetTokenCount.java
Labels: samples, api: aiplatform

#9406 feat(secretmanager): added samples for regional SM
  secretmanager/pom.xml
  secretmanager/src/main/java/secretmanager/regionalsamples/AccessRegionalSecretVersion.java
  secretmanager/src/main/java/secretmanager/regionalsamples/AddRegionalSecretVersion.java
  secretmanager/src/main/java/secretmanager/regionalsamples/CreateRegionalSecret.java
  secretmanager/src/main/java/secretmanager/regionalsamples/DeleteRegionalSecret.java
  secretmanager/src/main/java/secretmanager/regionalsamples/DeleteRegionalSecretWithEtag.java
  secretmanager/src/main/java/secretmanager/regionalsamples/DestroyRegionalSecretVersion.java
  secretmanager/src/main/java/secretmanager/regionalsamples/DestroyRegionalSecretVersionWithEtag.java
  secretmanager/src/main/java/secretmanager/regionalsamples/DisableRegionalSecretVersion.java
  secretmanager/src/main/java/secretmanager/regionalsamples/DisableRegionalSecretVersionWithEtag.java
  secretmanager/src/main/java/secretmanager/regionalsamples/EnableRegionalSecretVersion.java
  secretmanager/src/main/java/secretmanager/regionalsamples/EnableRegionalSecretVersionWithEtag.java
  secretmanager/src/main/java/secretmanager/regionalsamples/GetRegionalSecret.java
  secretmanager/src/main/java/secretmanager/regionalsamples/GetRegionalSecretVersion.java
  secretmanager/src/main/java/secretmanager/regionalsamples/IamGrantAccessWithRegionalSecret.java
  secretmanager/src/main/java/secretmanager/regionalsamples/IamRevokeAccessWithRegionalSecret.java
  secretmanager/src/main/java/secretmanager/regionalsamples/ListRegionalSecretVersions.java
  secretmanager/src/main/java/secretmanager/regionalsamples/ListRegionalSecretVersionsWithFilter.java
  secretmanager/src/main/java/secretmanager/regionalsamples/ListRegionalSecrets.java
  secretmanager/src/main/java/secretmanager/regionalsamples/ListRegionalSecretsWithFilter.java
  secretmanager/src/main/java/secretmanager/regionalsamples/RegionalQuickstart.java
  secretmanager/src/main/java/secretmanager/regionalsamples/UpdateRegionalSecret.java
  secretmanager/src/main/java/secretmanager/regionalsamples/UpdateRegionalSecretWithAlias.java
  secretmanager/src/main/java/secretmanager/regionalsamples/UpdateRegionalSecretWithEtag.java
  secretmanager/src/test/java/secretmanager/SnippetsIT.java
  secretmanager/src/test/java/secretmanager/regionalsamples/QuickstartIT.java
  secretmanager/src/test/java/secretmanager/regionalsamples/SnippetsIT.java
Labels: api: secretmanager, samples

#9423 fix: Multiple tests in compute/cloud client fail
  compute/cloud-client/src/main/java/compute/CreateInstanceFromTemplateWithOverrides.java
  compute/cloud-client/src/main/java/compute/CreateInstanceTemplate.java
  compute/cloud-client/src/main/java/compute/CreateInstancesAdvanced.java
  compute/cloud-client/src/main/java/compute/CreateWithLocalSsd.java
  compute/cloud-client/src/test/java/compute/InstanceOperationsIT.java
  compute/cloud-client/src/test/java/compute/InstanceTemplatesIT.java
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
  compute/cloud-client/src/test/java/compute/customhostname/CustomHostnameInstanceIT.java
  compute/cloud-client/src/test/java/compute/custommachinetype/CustomMachineTypeIT.java
  compute/cloud-client/src/test/java/compute/deleteprotection/DeleteProtectionIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksFromSourceIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
  compute/cloud-client/src/test/java/compute/preemptible/PreemptibleIT.java
  compute/cloud-client/src/test/java/compute/windows/osimage/WindowsOsImageIT.java
Labels: api: compute, samples
