Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2024-11, with the labels that each got.

#9608 feat(dataplex): adjust code snippets
  dataplex/snippets/src/main/java/dataplex/CreateAspectType.java
  dataplex/snippets/src/main/java/dataplex/CreateEntryGroup.java
  dataplex/snippets/src/main/java/dataplex/CreateEntryType.java
  dataplex/snippets/src/main/java/dataplex/DeleteAspectType.java
  dataplex/snippets/src/main/java/dataplex/DeleteEntryGroup.java
  dataplex/snippets/src/main/java/dataplex/DeleteEntryType.java
  dataplex/snippets/src/main/java/dataplex/GetAspectType.java
  dataplex/snippets/src/main/java/dataplex/GetEntryGroup.java
  dataplex/snippets/src/main/java/dataplex/GetEntryType.java
  dataplex/snippets/src/main/java/dataplex/ListAspectTypes.java
  dataplex/snippets/src/main/java/dataplex/ListEntryGroups.java
  dataplex/snippets/src/main/java/dataplex/ListEntryTypes.java
  dataplex/snippets/src/main/java/dataplex/UpdateAspectType.java
  dataplex/snippets/src/main/java/dataplex/UpdateEntryGroup.java
  dataplex/snippets/src/main/java/dataplex/UpdateEntryType.java
  dataplex/snippets/src/test/java/dataplex/AspectTypeIT.java
  dataplex/snippets/src/test/java/dataplex/EntryGroupIT.java
  dataplex/snippets/src/test/java/dataplex/EntryTypeIT.java
Labels: samples, api: dataplex

#9647 feat(dataplex): link documentation for available locations
  dataplex/snippets/src/main/java/dataplex/CreateEntry.java
  dataplex/snippets/src/main/java/dataplex/DeleteEntry.java
  dataplex/snippets/src/main/java/dataplex/GetEntry.java
  dataplex/snippets/src/main/java/dataplex/ListEntries.java
  dataplex/snippets/src/main/java/dataplex/LookupEntry.java
  dataplex/snippets/src/main/java/dataplex/UpdateEntry.java
Labels: samples, api: dataplex

#9595 feat(compute): extend compute hyperdisk pool create
  compute/cloud-client/src/main/java/compute/disks/storagepool/CreateHyperdiskStoragePool.java
  compute/cloud-client/src/test/java/compute/disks/HyperdisksIT.java
Labels: kokoro:run, api: compute, samples

#9585 feat(tpu): add create/delete/get samples
  tpu/src/main/java/tpu/CreateQueuedResourceWithNetwork.java
  tpu/src/main/java/tpu/CreateTpuVm.java
  tpu/src/main/java/tpu/DeleteForceQueuedResource.java
  tpu/src/main/java/tpu/DeleteTpuVm.java
  tpu/src/main/java/tpu/GetTpuVm.java
  tpu/src/test/java/tpu/QueuedResourceIT.java
  tpu/src/test/java/tpu/TpuVmIT.java
  tpu/src/test/java/tpu/Util.java
Labels: kokoro:run, samples, api: tpu

#9596 feat(compute): add compute consume reservation samples
  compute/cloud-client/src/main/java/compute/reservation/ConsumeAnyMatchingReservation.java
  compute/cloud-client/src/main/java/compute/reservation/ConsumeSingleProjectReservation.java
  compute/cloud-client/src/main/java/compute/reservation/ConsumeSpecificSharedReservation.java
  compute/cloud-client/src/main/java/compute/reservation/CreateReservation.java
  compute/cloud-client/src/main/java/compute/reservation/CreateReservationForInstanceTemplate.java
  compute/cloud-client/src/main/java/compute/reservation/CreateReservationFromVm.java
  compute/cloud-client/src/main/java/compute/reservation/CreateSharedReservation.java
  compute/cloud-client/src/main/java/compute/reservation/DeleteReservation.java
  compute/cloud-client/src/main/java/compute/reservation/GetReservation.java
  compute/cloud-client/src/main/java/compute/reservation/ListReservations.java
  compute/cloud-client/src/main/java/compute/reservation/UpdateVmsForReservation.java
  compute/cloud-client/src/test/java/compute/disks/HyperdisksIT.java
  compute/cloud-client/src/test/java/compute/reservation/ConsumeReservationsIT.java
  compute/cloud-client/src/test/java/compute/reservation/CrudOperationsReservationIT.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
  compute/cloud-client/src/test/java/compute/reservation/WithoutConsumingReservationIT.java
Labels: kokoro:run, api: compute, samples

#9619 feat(auth): add apikeys undelete api key sample.
  auth/src/main/java/UndeleteApiKey.java
  auth/src/test/java/ApiKeySnippetsIT.java
Labels: kokoro:run, samples, api: auth

#9511 docs(samples): Read multiple Kafka topics from Dataflow
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/KafkaReadTopics.java
  dataflow/snippets/src/test/java/com/example/dataflow/KafkaReadIT.java
Labels: api: dataflow, samples

#9598 feat(securitycenter): Add Resource SCC Management API Org SHA Custom Module code samples (Create, Delete, List, Get)
  security-command-center/snippets/pom.xml
  security-command-center/snippets/src/main/java/management/api/CreateSecurityHealthAnalyticsCustomModule.java
  security-command-center/snippets/src/main/java/management/api/DeleteSecurityHealthAnalyticsCustomModule.java
  security-command-center/snippets/src/main/java/management/api/GetSecurityHealthAnalyticsCustomModule.java
  security-command-center/snippets/src/main/java/management/api/ListSecurityHealthAnalyticsCustomModules.java
  security-command-center/snippets/src/test/java/management/api/SecurityHealthAnalyticsCustomModuleTest.java
Labels: api: securitycenter, samples

#9609 feat(dataplex): add code samples for search Entries
  dataplex/snippets/src/main/java/dataplex/SearchEntries.java
  dataplex/snippets/src/test/java/dataplex/SearchEntriesIT.java
Labels: samples, api: dataplex

#9685 Update README.md to reflect CRf rebrand
  functions/README.md
Labels: api: cloudfunctions, samples

#9611 feat(tpu): add tpu vm create topology sample.
  tpu/src/main/java/tpu/CreateTpuWithTopologyFlag.java
  tpu/src/main/java/tpu/GetQueuedResource.java
  tpu/src/test/java/tpu/CreateTpuIT.java
  tpu/src/test/java/tpu/QueuedResourceIT.java
  tpu/src/test/java/tpu/TpuVmIT.java
Labels: kokoro:run, samples, api: tpu

#9688 chore: add basic foundation: logging, testing, cli parsing
  bigtable/bigtable-proxy/.gitignore
  bigtable/bigtable-proxy/pom.xml
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/Main.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/package-info.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/package-info.java
  bigtable/bigtable-proxy/src/main/resources/logback.xml
Labels: api: bigtable, samples

#9689 feat: add basic proxy
  bigtable/bigtable-proxy/pom.xml
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/Main.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Endpoint.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Serve.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/ByteMarshaller.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/CallProxy.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/ProxyHandler.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/Registry.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/EndpointTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeParsingTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/utils/ContextSubject.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/utils/MetadataSubject.java
Labels: api: bigtable, samples

#9690 feat: move credential handling responsibility to the proxy
  bigtable/bigtable-proxy/pom.xml
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Serve.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/ProxyHandler.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/utils/MetadataSubject.java
Labels: api: bigtable, samples

#9691 feat: add metrics
  bigtable/bigtable-proxy/pom.xml
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Serve.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/CallProxy.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/ProxyHandler.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/CallLabels.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/InstrumentedCallCredentials.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Metrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/NoopMetrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Tracer.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeMetricsTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeParsingTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/metrics/CallLabelsTest.java
Labels: automerge, api: bigtable, samples

#9692 feat: add channel pooling
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/ChannelFactory.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/ChannelPool.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/ChannelPoolSettings.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/DataChannel.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/ResourceCollector.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Serve.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/CallLabels.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Metrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/NoopMetrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Tracer.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/channelpool/ChannelPoolTest.java
Labels: api: bigtable, samples

#9695 docs: packaging & docs
  bigtable/bigtable-proxy/README.md
  bigtable/bigtable-proxy/pom.xml
  bigtable/bigtable-proxy/src/main/assembly/assembly.xml
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/Main.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Serve.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/main/scripts/bigtable-proxy.sh
Labels: api: bigtable, samples

#9696 feat: add presence metric for bigtable-proxy
  bigtable/bigtable-proxy/README.md
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
Labels: api: bigtable, samples

#9732 Verify
  bigtable/bigtable-proxy/pom.xml
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/Main.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Verify.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/main/scripts/bigtable-verify.sh
Labels: api: bigtable, samples

#9604 feat(tpu): add tpu queued resources startup script sample
  tpu/src/main/java/tpu/CreateQueuedResourceWithStartupScript.java
  tpu/src/main/java/tpu/DeleteForceQueuedResource.java
  tpu/src/test/java/tpu/QueuedResourceIT.java
Labels: kokoro:run, samples, api: tpu

#9737 fix: fix channel priming by adding missing halfClose()
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/DataChannel.java
Labels: automerge, api: bigtable, samples

#9738 fix PingAndWarm request params
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/DataChannel.java
Labels: api: bigtable, samples

#9741 fix: bigtable-proxy verify command metric checks
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Verify.java
Labels: automerge, api: bigtable, samples

#9734 Update CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#9618 feat(dataplex): add quickstart for dataplex
  dataplex/quickstart/pom.xml
  dataplex/quickstart/src/main/java/dataplex/Quickstart.java
  dataplex/quickstart/src/test/java/dataplex/QuickstartIT.java
Labels: samples, api: dataplex

#9682 feat(compute): add compute consistency group remove disk
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/AddDiskToConsistencyGroup.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/CreateConsistencyGroup.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/DeleteConsistencyGroup.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/RemoveDiskFromConsistencyGroup.java
  compute/cloud-client/src/test/java/compute/disks/ConsistencyGroupIT.java
  compute/cloud-client/src/test/java/compute/disks/CreateHyperdiskIT.java
  compute/cloud-client/src/test/java/compute/disks/HyperdiskIT.java
  compute/cloud-client/src/test/java/compute/disks/HyperdisksIT.java
Labels: kokoro:run, api: compute, samples
