Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2024-12, with the labels that each got.

#9744 fix(spanner): opentelemetry metrics documentation
  spanner/opentelemetry/pom.xml
  spanner/opentelemetry/src/main/java/com/example/spanner/OpenTelemetryUsage.java
Labels: api: spanner, samples

#9792 feat(dataplex): Fix dataplex quickstart flaky execution
  dataplex/quickstart/src/main/java/dataplex/Quickstart.java
  dataplex/quickstart/src/test/java/dataplex/QuickstartIT.java
Labels: samples, api: dataplex

#9746 chore: bigtable-proxy move CallLabels to core
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/DataChannel.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/ResourceCollector.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Verify.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/CallLabels.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/ProxyHandler.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Metrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/NoopMetrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Tracer.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeMetricsTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/core/CallLabelsTest.java
Labels: api: bigtable, samples

#9740 chore(speech): delete sample speech_adaptation_beta
  speech/src/main/java/com/example/speech/SpeechAdaptation.java
  speech/src/test/java/com/example/speech/SpeechAdaptationTest.java
Labels: api: speech, samples

#9747 chore: decouple Otel from CallLabels
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/CallLabels.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Metrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/NoopMetrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Tracer.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeMetricsTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/core/CallLabelsTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImplTest.java
Labels: api: bigtable, samples

#9748 chore: introduce PrimingKey to encapsulate PingAndWarm request & metadata
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/DataChannel.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/ResourceCollector.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/CallLabels.java
Labels: api: bigtable, samples

#9749 chore: support the rest of RLS headers for priming
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/CallLabels.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/commands/ServeMetricsTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/core/CallLabelsTest.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImplTest.java
Labels: automerge, api: bigtable, samples

#9795 chore(functions): delete sample functions_ci_cd_cloud_build
  functions/README.md
  functions/ci_cd/cloudbuild.yaml
Labels: api: cloudfunctions, samples

#9745 chore(tts): delete sample tts_synthesize_text_file
  texttospeech/beta/src/main/java/com/example/texttospeech/SynthesizeFile.java
  texttospeech/beta/src/test/java/com/example/texttospeech/SynthesizeFileIT.java
Labels: api: texttospeech, samples

#9793 chore(documentai): delete sample documentai_process_quality_document
  document-ai/src/main/java/documentai/v1beta3/ProcessQualityDocument.java
  document-ai/src/test/java/documentai/v1beta3/ProcessQualityDocumentTest.java
Labels: samples, api: documentai

#9750 chore: misc non-functional cleanup
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/ChannelPool.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/DataChannel.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/ResourceCollector.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/commands/Verify.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/CallLabels.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/InstrumentedCallCredentials.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Metrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Tracer.java
  bigtable/bigtable-proxy/src/main/resources/logback.xml
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/metrics/NoopMetrics.java
Labels: api: bigtable, samples

#9753 feat: bigtable-proxy add gfe debug headers
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/DataChannel.java
Labels: automerge, api: bigtable, samples

#9755 feat: add channel state transition counter
  bigtable/bigtable-proxy/README.md
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/channelpool/DataChannel.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Metrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/metrics/NoopMetrics.java
Labels: automerge, api: bigtable, samples

#9789 chore: record sub-ms latency measurements
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
Labels: api: bigtable, samples

#9790 feat: add downstream write latency to bigtableproxy
  bigtable/bigtable-proxy/README.md
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/core/CallProxy.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Metrics.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/MetricsImpl.java
  bigtable/bigtable-proxy/src/main/java/com/google/cloud/bigtable/examples/proxy/metrics/Tracer.java
  bigtable/bigtable-proxy/src/test/java/com/google/cloud/bigtable/examples/proxy/metrics/NoopMetrics.java
Labels: automerge, api: bigtable, samples

#9796 feat(opencensus)!: remove OpenCensus samples
  .github/CODEOWNERS
  opencensus/pom.xml
  opencensus/src/main/java/com/example/opencensus/Quickstart.java
  trace/pom.xml
  trace/src/main/java/com/example/trace/TraceSample.java
  trace/src/test/java/com/example/trace/TraceSampleIT.java
Labels: api: cloudtrace, samples

#9807 fix(eventarc): sets protojson to ignoreUnknownFields
  eventarc/storage-handler/src/main/java/com/example/cloudrun/CloudEventController.java
  functions/v2/firebase/firestore/src/main/java/functions/FirebaseFirestore.java
  functions/v2/hello-gcs/src/main/java/functions/HelloGcs.java
  functions/v2/imagemagick/src/main/java/functions/ImageMagick.java
  functions/v2/ocr/ocr-process-image/src/main/java/functions/OcrProcessImage.java
Labels: samples, api: eventarc

#9684 feat(managedkafka): increase LRO timeout to 1 hour in client samples
  managedkafka/examples/pom.xml
  managedkafka/examples/src/main/java/examples/CreateCluster.java
  managedkafka/examples/src/main/java/examples/DeleteCluster.java
  managedkafka/examples/src/main/java/examples/UpdateCluster.java
  managedkafka/examples/src/test/java/examples/ClustersTest.java
Labels: samples, api: managedkafka

#9808 chore(automl_vision): delete sample automl_vision_classification_deploy_model
  automl/src/main/java/com/google/cloud/vision/samples/automl/ClassificationDeployModel.java
  automl/src/test/java/com/google/cloud/vision/samples/automl/ClassificationDeployModelIT.java
Labels: api: automl, samples

#9606 feat(tpu): add tpu vm list sample.
  tpu/src/main/java/tpu/ListTpuVms.java
  tpu/src/test/java/tpu/TpuVmIT.java
Labels: kokoro:run, samples, api: tpu

#9794 chore(language): delete sample language_install_with_bom
  language/snippets/pom.xml
Labels: api: language, samples

#9853 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#9841 fix: removes unneeded test, extends timeout
  automl/src/test/java/com/google/cloud/translate/automl/DatasetApiIT.java
  batch/snippets/src/test/java/com/example/batch/CreateResourcesIT.java
  batch/snippets/src/test/java/com/example/batch/Util.java
Labels: api: automl, samples, api: batch

#9687 feat(compute): add compute consistency group disks list
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/ListRegionalDisksInConsistencyGroup.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/ListZonalDisksInConsistencyGroup.java
  compute/cloud-client/src/test/java/compute/disks/ConsistencyGroupIT.java
  compute/cloud-client/src/test/java/compute/disks/HyperdiskIT.java
Labels: kokoro:run, api: compute, samples

#9812 chore(gae): delete sample gae_java8_datastore_interface_2
  appengine-java8/datastore/src/test/java/com/example/appengine/QueriesTest.java
Labels: api: appengine, samples

#9858 chore: Update blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#9883 chore(job): migrate regions by associating them with an official product with a job_ prefix
  jobs/v3/src/main/java/com/google/samples/LocationSearchSample.java
Labels: api: jobs, samples

#9857 chore(endpoints): delete region 'swagger' in endpoints/multiple-versions
  endpoints/multiple-versions/openapi-v1.yaml
  endpoints/multiple-versions/openapi-v2.yaml
Labels: samples, api: endpoints

#9810 chore(job): delete sample jobs_java_dependencies_beta
  jobs/v4/pom.xml
Labels: api: jobs, samples

#9697 feat(compute): add compute disk regional replicated sample
  compute/cloud-client/src/main/java/compute/disks/CreateReplicatedDisk.java
  compute/cloud-client/src/test/java/compute/Util.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
Labels: kokoro:run, api: compute, samples

#9650 feat(compute): add compute disk start/stop replication samples
  compute/cloud-client/src/main/java/compute/disks/CreateReplicatedDisk.java
  compute/cloud-client/src/main/java/compute/disks/StartRegionalDiskReplication.java
  compute/cloud-client/src/main/java/compute/disks/StartZonalDiskReplication.java
  compute/cloud-client/src/main/java/compute/disks/StopRegionalDiskReplication.java
  compute/cloud-client/src/main/java/compute/disks/StopZonalDiskReplication.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/AddDiskToConsistencyGroup.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/CreateConsistencyGroup.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/DeleteConsistencyGroup.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/RemoveDiskFromConsistencyGroup.java
  compute/cloud-client/src/test/java/compute/disks/ConsistencyGroupIT.java
  compute/cloud-client/src/test/java/compute/disks/DiskReplicationIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
  compute/cloud-client/src/test/java/compute/disks/HyperdiskIT.java
  compute/cloud-client/src/test/java/compute/reservation/CrudOperationsReservationIT.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
Labels: kokoro:run, api: compute, samples

#9610 feat(tpu): add tpu vm create spot sample.
  tpu/src/main/java/tpu/CreateSpotTpuVm.java
  tpu/src/test/java/tpu/TpuVmIT.java
Labels: kokoro:run, samples

#9886 Update AddMember.java comments
  iam/snippets/src/main/java/AddMember.java
Labels: api: iam, samples

#9615 feat(tpu): add tpu queued resources create spot
  tpu/src/main/java/tpu/CreateSpotQueuedResource.java
  tpu/src/test/java/tpu/QueuedResourceIT.java
Labels: kokoro:run, samples, api: tpu

#9888 chore: add translate dev team for translate samples
  .github/CODEOWNERS
Labels: samples

#9743 feat(securitycenter): Add Resource SCC Management API Org ETD Custom Module code samples (Create, Delete, List, Get)
  security-command-center/snippets/src/main/java/management/api/CreateEventThreatDetectionCustomModule.java
  security-command-center/snippets/src/main/java/management/api/DeleteEventThreatDetectionCustomModule.java
  security-command-center/snippets/src/main/java/management/api/GetEventThreatDetectionCustomModule.java
  security-command-center/snippets/src/main/java/management/api/ListEventThreatDetectionCustomModules.java
  security-command-center/snippets/src/test/java/management/api/EventThreatDetectionCustomModuleTest.java
Labels: api: securitycenter, samples

#9840 fix(compute): fixed compute_reservation_create_shared sample and test to use mocked client
  compute/cloud-client/src/main/java/compute/reservation/CreateSharedReservation.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
Labels: kokoro:run, api: compute, samples

#9735 feat(compute): add compute instance create replicated boot disk sample
  compute/cloud-client/src/main/java/compute/CreateInstanceWithRegionalDiskFromSnapshot.java
  compute/cloud-client/src/test/java/compute/InstanceOperationsIT.java
Labels: kokoro:run, api: compute, samples

#9614 feat(tpu): add tpu queued resources list sample
  tpu/src/main/java/tpu/DeleteForceQueuedResource.java
  tpu/src/main/java/tpu/ListQueuedResources.java
  tpu/src/test/java/tpu/QueuedResourceIT.java
Labels: kokoro:run, samples, api: tpu

#9641 feat(compute): add compute disk create secondary regional sample
  compute/cloud-client/src/main/java/compute/disks/CreateDiskSecondaryRegional.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
Labels: kokoro:run, api: compute, samples

#9643 feat(compute): add compute disk create secondary sample.
  compute/cloud-client/src/main/java/compute/disks/CreateDiskSecondaryZonal.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
Labels: api: compute, samples

#9917 fix(storage): migrate old region all to storagetransfer_transfer_all step 1
  storage-transfer/src/test/java/com/google/cloud/storage/storagetransfer/samples/test/util/TransferJobUtils.java
Labels: api: storage, samples

#9914 fix(job): remove old region create_job
  jobs/v3/src/main/java/com/google/samples/BasicJobSample.java
Labels: api: jobs, samples

#9791 feat(compute): attach/ remove snapshot schedule to disk
  compute/cloud-client/src/main/java/compute/snapshotschedule/AttachSnapshotScheduleToDisk.java
  compute/cloud-client/src/main/java/compute/snapshotschedule/RemoveSnapshotScheduleFromDisk.java
  compute/cloud-client/src/test/java/compute/snapshotschedule/SnapshotScheduleIT.java
Labels: kokoro:run, api: compute, samples

#9885 feat(compute): add compute consistency group clone sample
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/CloneRegionalDisksFromConsistencyGroup.java
  compute/cloud-client/src/main/java/compute/disks/consistencygroup/CloneZonalDisksFromConsistencyGroup.java
  compute/cloud-client/src/test/java/compute/disks/ConsistencyGroupIT.java
Labels: kokoro:run, api: compute, samples

#9730 feat(compute): add compute instance attach regional disk force sample
  compute/cloud-client/src/main/java/compute/disks/AttachRegionalDiskForce.java
  compute/cloud-client/src/test/java/compute/disks/InstanceAttachDiskIT.java
Labels: kokoro:run, api: compute, samples

#9644 feat(compute): add compute disk create secondary custom sample
  compute/cloud-client/src/main/java/compute/disks/CreateSecondaryCustomDisk.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
Labels: kokoro:run, api: compute, samples

#9742 feat(compute): add compute snapshot schedule create/get/edit/list/delete samples
  compute/cloud-client/src/main/java/compute/snapshotschedule/CreateSnapshotSchedule.java
  compute/cloud-client/src/main/java/compute/snapshotschedule/DeleteSnapshotSchedule.java
  compute/cloud-client/src/main/java/compute/snapshotschedule/EditSnapshotSchedule.java
  compute/cloud-client/src/main/java/compute/snapshotschedule/GetSnapshotSchedule.java
  compute/cloud-client/src/main/java/compute/snapshotschedule/ListSnapshotSchedules.java
  compute/cloud-client/src/test/java/compute/snapshotschedule/SnapshotScheduleIT.java
Labels: kokoro:run, api: compute, samples

#9788 feat(compute): add compute disk create with snapshot schedule
  compute/cloud-client/src/main/java/compute/disks/CreateDiskWithSnapshotSchedule.java
  compute/cloud-client/src/test/java/compute/Util.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
Labels: kokoro:run, api: compute, samples

#9617 feat(tpu): add tpu queued resources time bound sample.
  tpu/src/main/java/tpu/CreateTimeBoundQueuedResource.java
  tpu/src/test/java/tpu/QueuedResourceIT.java
Labels: kokoro:run, samples, api: tpu
