Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2024-05, with the labels that each got.

#9297 Asset inventory: searchAllResources sample not working for Bigquery Dataset #8798
  asset/src/test/java/com/example/asset/SearchIT.java
Labels: api: cloudasset, samples

#9304 assets.RealTimeFeedIT tests are failing
  asset/src/test/java/com/example/asset/RealTimeFeedIT.java
Labels: api: cloudasset, samples

#9295 feat: Adding disable role snippet
  iam/snippets/src/main/java/DisableRole.java
  iam/snippets/src/test/java/RoleIT.java
Labels: api: iam, samples

#9305 chore(vertexai): update to the latest version of the libraries-bom (and thus latest vertexai SDK)
  vertexai/snippets/pom.xml
  vertexai/snippets/src/main/java/vertexai/gemini/FunctionCalling.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultiTurnMultimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/SingleTurnMultimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/WithSafetySettings.java
Labels: samples

#9309 Update Gemini model versions
  vertexai/snippets/src/main/java/vertexai/gemini/ChatDiscussion.java
  vertexai/snippets/src/main/java/vertexai/gemini/FunctionCalling.java
  vertexai/snippets/src/main/java/vertexai/gemini/GetTokenCount.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalMultiImage.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalQuery.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalVideoInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/QuestionAnswer.java
  vertexai/snippets/src/main/java/vertexai/gemini/Quickstart.java
  vertexai/snippets/src/main/java/vertexai/gemini/SingleTurnMultimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/StreamingQuestionAnswer.java
  vertexai/snippets/src/main/java/vertexai/gemini/WithSafetySettings.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9284 feat: Add API v2 finding samples
  security-command-center/snippets/src/main/java/vtwo/findings/CreateFindings.java
  security-command-center/snippets/src/main/java/vtwo/findings/SetFindingsByState.java
  security-command-center/snippets/src/main/java/vtwo/source/CreateSource.java
  security-command-center/snippets/src/test/java/vtwo/FindingsIT.java
  security-command-center/snippets/src/test/java/vtwo/IamIT.java
  security-command-center/snippets/src/test/java/vtwo/MuteFindingIT.java
  security-command-center/snippets/src/test/java/vtwo/Util.java
Labels: api: securitycenter, samples

#9310 feat: add gemini code sample and test for text-only input
  vertexai/snippets/src/main/java/vertexai/gemini/TextInput.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9313 feat: Text Embedding Sample override 003 model to 004
  aiplatform/src/main/java/aiplatform/PredictTextEmbeddingsSample.java
  aiplatform/src/test/java/aiplatform/PredictTextEmbeddingsSampleTest.java
Labels: samples, api: aiplatform

#9315 chore(fixit): remove redundant region tags
  run/hello-broken/src/main/java/com/example/cloudrun/App.java
  run/image-processing/src/main/java/com/example/cloudrun/ImageMagick.java
  run/image-processing/src/main/java/com/example/cloudrun/PubSubController.java
  run/logging-manual/pom.xml
  run/logging-manual/src/main/java/com/example/cloudrun/App.java
  run/pubsub/src/main/java/com/example/cloudrun/PubSubApplication.java
  run/pubsub/src/main/java/com/example/cloudrun/PubSubController.java
Labels: api: run, samples

#9312 fixit: remove redundant region tags
  functions/concepts/lazy-fields/src/main/java/functions/LazyFields.java
  functions/concepts/scopes/src/main/java/functions/Scopes.java
  run/helloworld/src/main/java/com/example/helloworld/HelloworldApplication.java
  run/markdown-preview/editor/src/main/java/com/example/cloudrun/RenderController.java
  run/system-package/src/main/java/com/example/cloudrun/App.java
Labels: api: cloudfunctions, api: run, samples

#9311 feat: Adding API v2 Marks samples
  security-command-center/snippets/src/main/java/vtwo/marks/AddMarkToFinding.java
  security-command-center/snippets/src/main/java/vtwo/marks/DeleteAndUpdateMarks.java
  security-command-center/snippets/src/main/java/vtwo/marks/DeleteMarks.java
  security-command-center/snippets/src/main/java/vtwo/marks/ListFindingMarksWithFilter.java
  security-command-center/snippets/src/test/java/vtwo/SecurityMarkIT.java
Labels: api: securitycenter, samples

#9316 fixit: remove redundant region tags
  run/hello-broken/pom.xml
  run/helloworld/Dockerfile
  run/helloworld/pom.xml
  run/helloworld/src/main/resources/application.properties
  run/image-processing/Dockerfile
  run/image-processing/pom.xml
  run/logging-manual/src/main/resources/logback.xml
  run/pubsub/pom.xml
  run/system-package/Dockerfile
  run/system-package/pom.xml
Labels: api: run, samples

#9317 feat: update text-only input sample to use a generic review
  vertexai/snippets/src/main/java/vertexai/gemini/TextInput.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9321 chore(cloudrun): Cleanup deprecated sample Cloud Run Filesystem
  run/filesystem/.dockerignore
  run/filesystem/Dockerfile
  run/filesystem/README.md
  run/filesystem/gcsfuse.Dockerfile
  run/filesystem/gcsfuse_run.sh
  run/filesystem/pom.xml
  run/filesystem/run.sh
  run/filesystem/src/main/java/com/example/filesystem/FilesystemApplication.java
  run/filesystem/src/main/resources/application.properties
  run/filesystem/src/test/java/com/example/filesystem/ApplicationTests.java
  run/filesystem/src/test/java/com/example/filesystem/FilesystemApplicationTests.java
Labels: api: run, samples

#9322 feat: refactor text-only Gemini prompt
  vertexai/snippets/src/main/java/vertexai/gemini/TextInput.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9329 compute/cloud-client test(s) are failing #8965
  compute/cloud-client/src/test/java/compute/InstancesAdvancedIT.java
  compute/cloud-client/src/test/java/compute/custommachinetype/CustomMachineTypeIT.java
Labels: api: compute, samples

#9330 feat(vertexai): support system instruction
  vertexai/snippets/pom.xml
  vertexai/snippets/src/main/java/vertexai/gemini/WithSystemInstruction.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9318 spanner/r2dbc test(s) are failing #8978
  spanner/r2dbc/src/test/java/com/example/spanner/r2dbc/R2dbcSampleApplicationIT.java
Labels: api: spanner, samples

#9319 moved files from "update IAM policy samples to use GAPIC library" PR
  iam/api-client/pom.xml
  iam/api-client/src/test/java/iam/snippets/TestPermissionsTest.java
  iam/snippets/pom.xml
  iam/snippets/src/main/java/AddBinding.java
  iam/snippets/src/main/java/AddMember.java
  iam/snippets/src/main/java/GetProjectPolicy.java
  iam/snippets/src/main/java/GetServiceAccountPolicy.java
  iam/snippets/src/main/java/Quickstart.java
  iam/snippets/src/main/java/RemoveMember.java
  iam/snippets/src/main/java/SetProjectPolicy.java
  iam/snippets/src/main/java/SetServiceAccountPolicy.java
  iam/snippets/src/test/java/AccessTests.java
  iam/snippets/src/test/java/QuickstartTests.java
  iam/snippets/src/test/java/ServiceAccountTests.java
Labels: api: iam, samples

#9340 chore: comment about how to instantiate logger variable in Cloud Run
  run/logging-manual/src/main/java/com/example/cloudrun/App.java
Labels: api: run, samples

#9328 fix: remove unused region tag eventarc_pubsub_dockerfile
  eventarc/pubsub/Dockerfile
Labels: samples, api: eventarc

#9299 feat: Adding API v2 Source samples
  security-command-center/snippets/src/main/java/vtwo/source/GetSource.java
  security-command-center/snippets/src/main/java/vtwo/source/ListSources.java
  security-command-center/snippets/src/main/java/vtwo/source/UpdateFindingSource.java
  security-command-center/snippets/src/main/java/vtwo/source/UpdateSource.java
  security-command-center/snippets/src/test/java/vtwo/SourceIT.java
Labels: api: securitycenter, samples

#9331 Joint String output variable declaration and use in Vertex AI TextInput.java Snippet
  vertexai/snippets/src/main/java/vertexai/gemini/TextInput.java
Labels: samples

#9342 fix(aiplatform): Update NVIDIA_TESLA_K80 to NVIDIA_TESLA_T4
  aiplatform/src/main/java/aiplatform/CreateBatchPredictionJobSample.java
  aiplatform/src/main/java/aiplatform/CreateCustomJobSample.java
  aiplatform/src/main/java/aiplatform/CreateHyperparameterTuningJobPythonPackageSample.java
  aiplatform/src/main/java/aiplatform/CreateHyperparameterTuningJobSample.java
Labels: samples, api: aiplatform

#9335 add region tag for QuestionAnswer.java
  vertexai/snippets/src/main/java/vertexai/gemini/QuestionAnswer.java
Labels: samples

#9333 feat: Update embedding tuning sample to use the v1.1.3 pipeline.
  aiplatform/src/main/java/aiplatform/EmbeddingModelTuningSample.java
  aiplatform/src/test/java/aiplatform/EmbeddingModelTuningSampleTest.java
Labels: samples, api: aiplatform

#9337 fix: Use Alphabet 10k sample dataset.
  aiplatform/src/test/java/aiplatform/EmbeddingModelTuningSampleTest.java
Labels: samples, api: aiplatform

#9344 feat(vertexai): Update to gemini-1.5-flash-001
  vertexai/snippets/src/main/java/vertexai/gemini/AudioInputSummarization.java
  vertexai/snippets/src/main/java/vertexai/gemini/AudioInputTranscription.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalAllInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/PdfInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/VideoInputWithAudio.java
  vertexai/snippets/src/main/java/vertexai/gemini/WithSystemInstruction.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9338 refactor(compute): create Route samples
  compute/cloud-client/src/main/java/compute/routes/CreateRoute.java
  compute/cloud-client/src/main/java/compute/routes/DeleteRoute.java
  compute/cloud-client/src/main/java/compute/routes/ListRoute.java
  compute/cloud-client/src/test/java/compute/routes/RoutesIT.java
Labels: api: compute, samples
