Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2024-09, with the labels that each got.

#9503 feat(compute): add compute reservation create
  compute/cloud-client/src/main/java/compute/reservation/CreateReservation.java
  compute/cloud-client/src/main/java/compute/reservation/DeleteReservation.java
  compute/cloud-client/src/test/java/compute/disks/HyperdisksIT.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
Labels: api: compute, samples

#9515 chore: Refresh CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#9512 Update comments for IAM samples
  iam/snippets/src/main/java/DeleteServiceAccountKey.java
  iam/snippets/src/main/java/DisableServiceAccountKey.java
  iam/snippets/src/main/java/EnableServiceAccountKey.java
  iam/snippets/src/main/java/GetServiceAccountPolicy.java
  iam/snippets/src/main/java/Quickstart.java
  iam/snippets/src/main/java/SetServiceAccountPolicy.java
Labels: api: iam, samples

#9523 fix: update deprecated notificationconfig for healthcare api
  healthcare/v1/src/main/java/snippets/healthcare/fhir/FhirStorePatch.java
  healthcare/v1/src/test/java/snippets/healthcare/FhirStoreTests.java
Labels: samples, api: healhcare

#9507 feat(compute): add compute reservation samples (get, list and create with template)
  compute/cloud-client/src/main/java/compute/reservation/CreateReservationForInstanceTemplate.java
  compute/cloud-client/src/main/java/compute/reservation/DeleteReservation.java
  compute/cloud-client/src/main/java/compute/reservation/GetReservation.java
  compute/cloud-client/src/main/java/compute/reservation/ListReservations.java
  compute/cloud-client/src/test/java/compute/disks/HyperdisksIT.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
Labels: api: compute, samples

#9520 feat(aiplatform): add batch text predict sample
  aiplatform/pom.xml
  aiplatform/src/main/java/aiplatform/BatchTextPredictionSample.java
  aiplatform/src/test/java/aiplatform/BatchTextPredictionSampleTest.java
  aiplatform/src/test/java/aiplatform/CreateTrainingPipelineTextClassificationSampleTest.java
Labels: kokoro:run, samples, api: aiplatform

#9525 feat(vertexai): add aiplatform gemini translate sample
  vertexai/snippets/src/main/java/vertexai/gemini/GeminiTranslate.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: kokoro:run, samples

#9533 chore(blunderbuss): Remove unused teams
  .github/blunderbuss.yml
Labels: samples

#9532 feat(vertexai): update tag to generativeaionvertexai_gemini_translate
  vertexai/snippets/src/main/java/vertexai/gemini/GeminiTranslate.java
Labels: kokoro:run, samples

#9527 feat(aiplatform): add gemma2 samples for Model Garden deployments to VertexAI endpoints
  aiplatform/pom.xml
  aiplatform/src/main/java/aiplatform/Gemma2PredictGpu.java
  aiplatform/src/main/java/aiplatform/Gemma2PredictTpu.java
  aiplatform/src/test/java/aiplatform/Gemma2ParametersTest.java
  aiplatform/src/test/java/aiplatform/Gemma2PredictTest.java
Labels: kokoro:run, samples, api: aiplatform
