Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2024-10, with the labels that each got.

#9545 fix(aiplatform): add back accidentally removed Imagen sample and test
  aiplatform/src/main/java/aiplatform/imagen/EditImageMaskFreeSample.java
  aiplatform/src/test/java/aiplatform/imagen/EditImageMaskFreeSampleTest.java
Labels: samples, api: aiplatform

#9526 feat(compute): add compute regional template create
  compute/cloud-client/src/main/java/compute/CreateRegionalInstanceTemplate.java
  compute/cloud-client/src/main/java/compute/DeleteRegionalInstanceTemplate.java
  compute/cloud-client/src/main/java/compute/GetRegionalInstanceTemplate.java
  compute/cloud-client/src/main/java/compute/reservation/CreateReservation.java
  compute/cloud-client/src/test/java/compute/InstancesAdvancedIT.java
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
  compute/cloud-client/src/test/java/compute/Util.java
  compute/cloud-client/src/test/java/compute/reservation/CrudOperationResevationIT.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
Labels: kokoro:run, api: compute, samples

#9550 chore(oss): correct apache license headers
  .kokoro/tests/build_cloud_functions.sh
  .kokoro/tests/build_cloud_run.sh
  .kokoro/tests/teardown_cloud_functions.sh
  appengine-java8/firebase-backend/README.md
  appengine-java8/firebase-backend/src/main/webapp/WEB-INF/appengine-web.xml
  bigtable/scheduled-backups/scripts/scheduled_backups.sh
  datacatalog/quickstart/pom.xml
  dataflow/snippets/pom.xml
  endpoints/getting-started/k8s/esp_echo_http.yaml
  monitoring/v3/pom.xml
  retail/interactive-tutorials/user_environment_setup.sh
  retail/interactive-tutorials/user_import_data_to_catalog.sh
  spanner/changestreams/pom.xml
  texttospeech/beta/pom.xml
Labels: api: appengine, api: monitoring, samples, api: retail, api: endpoints

#9554 fix: remove archived repository
  CONTRIBUTING.md
Labels: samples

#9549 feat: add Imagen watermarking and captions samples and tests
  aiplatform/resources/dog_newspaper.png
  aiplatform/src/main/java/aiplatform/imagen/GetShortFormImageCaptionsSample.java
  aiplatform/src/main/java/aiplatform/imagen/GetShortFormImageResponsesSample.java
  aiplatform/src/main/java/aiplatform/imagen/VerifyImageWatermarkSample.java
  aiplatform/src/test/java/aiplatform/imagen/GetShortFormImageCaptionsSampleTest.java
  aiplatform/src/test/java/aiplatform/imagen/GetShortFormImageResponsesSampleTest.java
  aiplatform/src/test/java/aiplatform/imagen/VerifyImageWatermarkSampleTest.java
Labels: samples, api: aiplatform

#9562 chore(docs): change guidelines for snippet return values
  SAMPLE_FORMAT.md
Labels: samples

#9548 Dataplex Aspect Type snippets
  .github/CODEOWNERS
  dataplex/snippets/pom.xml
  dataplex/snippets/src/main/java/dataplex/CreateAspectType.java
  dataplex/snippets/src/main/java/dataplex/DeleteAspectType.java
  dataplex/snippets/src/main/java/dataplex/GetAspectType.java
  dataplex/snippets/src/main/java/dataplex/ListAspectTypes.java
  dataplex/snippets/src/main/java/dataplex/UpdateAspectType.java
  dataplex/snippets/src/test/java/dataplex/AspectTypeIT.java
Labels: samples, api: dataplex

#9513 feat(secretmanager): added samples for annotations
  secretmanager/src/main/java/secretmanager/CreateSecretWithAnnotations.java
  secretmanager/src/main/java/secretmanager/EditSecretAnnotations.java
  secretmanager/src/main/java/secretmanager/ViewSecretAnnotations.java
  secretmanager/src/test/java/secretmanager/SnippetsIT.java
Labels: api: secretmanager, samples

#9559 feat(aiplatform): add generativeaionvertexai embedding batch sample
  aiplatform/src/main/java/aiplatform/EmbeddingBatchSample.java
  aiplatform/src/test/java/aiplatform/EmbeddingBatchSampleTest.java
Labels: kokoro:run, samples, api: aiplatform

#9558 fix(aiplatform): enabled CreateTrainingPipelineTextClassificationSampleTest
  aiplatform/src/test/java/aiplatform/CreateTrainingPipelineTextClassificationSampleTest.java
Labels: kokoro:run, samples, api: aiplatform

#9499 feat(appengine): Gradle on java21 helloworld
  appengine-java21/helloworld/README.md
  appengine-java21/helloworld/build.gradle
  appengine-java21/helloworld/gradle/libs.versions.toml
  appengine-java21/helloworld/gradle/wrapper/gradle-wrapper.properties
  appengine-java21/helloworld/gradlew
  appengine-java21/helloworld/gradlew.bat
  appengine-java21/helloworld/settings.gradle
Labels: api: appengine, samples

#9567 feat(dataplex): add code samples for Entry Group
  dataplex/snippets/src/main/java/dataplex/CreateEntryGroup.java
  dataplex/snippets/src/main/java/dataplex/DeleteEntryGroup.java
  dataplex/snippets/src/main/java/dataplex/GetEntryGroup.java
  dataplex/snippets/src/main/java/dataplex/ListEntryGroups.java
  dataplex/snippets/src/main/java/dataplex/UpdateEntryGroup.java
  dataplex/snippets/src/test/java/dataplex/EntryGroupIT.java
Labels: samples, api: dataplex

#9544 fix(compute): fixing pipeline tests failing
  compute/cloud-client/src/main/java/compute/reservation/CreateReservation.java
  compute/cloud-client/src/main/java/compute/reservation/GetReservation.java
  compute/cloud-client/src/test/java/compute/InstanceOperationsIT.java
  compute/cloud-client/src/test/java/compute/InstancesAdvancedIT.java
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
  compute/cloud-client/src/test/java/compute/Util.java
  compute/cloud-client/src/test/java/compute/customhostname/CustomHostnameInstanceIT.java
  compute/cloud-client/src/test/java/compute/custommachinetype/CustomMachineTypeIT.java
  compute/cloud-client/src/test/java/compute/deleteprotection/DeleteProtectionIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksFromSourceIT.java
  compute/cloud-client/src/test/java/compute/disks/DisksIT.java
  compute/cloud-client/src/test/java/compute/disks/HyperdisksIT.java
  compute/cloud-client/src/test/java/compute/disks/SnapshotsIT.java
  compute/cloud-client/src/test/java/compute/preemptible/PreemptibleIT.java
  compute/cloud-client/src/test/java/compute/reservation/CrudOperationsReservationIT.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
  compute/cloud-client/src/test/java/compute/spots/SpotVmIT.java
  compute/cloud-client/src/test/java/compute/windows/osimage/WindowsOsImageIT.java
  compute/cloud-client/src/test/java/compute/windows/windowsinstances/CreatingManagingWindowsInstancesIT.java
Labels: kokoro:run, api: compute, samples

#9574 feat(dataplex): add code samples for Entry Type
  dataplex/snippets/src/main/java/dataplex/CreateEntryType.java
  dataplex/snippets/src/main/java/dataplex/DeleteEntryType.java
  dataplex/snippets/src/main/java/dataplex/GetEntryType.java
  dataplex/snippets/src/main/java/dataplex/ListEntryTypes.java
  dataplex/snippets/src/main/java/dataplex/UpdateEntryType.java
  dataplex/snippets/src/test/java/dataplex/EntryTypeIT.java
Labels: samples, api: dataplex

#9530 Migrate java-11 sample app to use Java17
  flexible/java-17/cloudstorage/README.md
  flexible/java-17/cloudstorage/pom.xml
  flexible/java-17/cloudstorage/src/main/appengine/app.yaml
  flexible/java-17/cloudstorage/src/main/java/com/example/cloudstorage/Main.java
  flexible/java-17/cloudstorage/src/main/java/com/example/cloudstorage/UploadServlet.java
  flexible/java-17/cloudstorage/src/main/webapp/index.html
  flexible/java-17/cloudstorage/src/test/java/com/example/cloudstorage/UploadServletTest.java
  flexible/java-17/datastore/README.md
  flexible/java-17/datastore/pom.xml
  flexible/java-17/datastore/src/main/appengine/app.yaml
  flexible/java-17/datastore/src/main/java/com/example/datastore/DatastoreServlet.java
  flexible/java-17/datastore/src/main/java/com/example/datastore/Main.java
  flexible/java-17/datastore/src/test/java/com/example/datastore/DatastoreServletTest.java
  flexible/java-17/websocket-jetty/README.md
  flexible/java-17/websocket-jetty/pom.xml
  flexible/java-17/websocket-jetty/src/main/appengine/app.yaml
  flexible/java-17/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/ClientSocket.java
  flexible/java-17/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/EchoServlet.java
  flexible/java-17/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/Main.java
  flexible/java-17/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/SendServlet.java
  flexible/java-17/websocket-jetty/src/main/java/com/example/flexible/websocket/jettynative/ServerSocket.java
  flexible/java-17/websocket-jetty/src/main/webapp/WEB-INF/index.jsp
  flexible/java-17/websocket-jetty/src/main/webapp/WEB-INF/jetty-web.xml
  flexible/java-17/websocket-jetty/src/main/webapp/WEB-INF/js_client.jsp
  flexible/java-17/websocket-jetty/src/test/java/com/example/flexible/websocket/jettynative/ClientSocketTest.java
  flexible/java-17/websocket-jetty/src/test/java/com/example/flexible/websocket/jettynative/SendServletTest.java
Labels: api: appengine, samples

#9575 feat(dataplex): adjust code samples for Aspect Type
  dataplex/snippets/src/main/java/dataplex/CreateAspectType.java
  dataplex/snippets/src/main/java/dataplex/DeleteAspectType.java
  dataplex/snippets/src/main/java/dataplex/GetAspectType.java
  dataplex/snippets/src/main/java/dataplex/ListAspectTypes.java
  dataplex/snippets/src/main/java/dataplex/UpdateAspectType.java
  dataplex/snippets/src/test/java/dataplex/AspectTypeIT.java
Labels: samples, api: dataplex

#9572 Fixing pipeline tests new
  compute/cloud-client/src/main/java/compute/reservation/CreateReservation.java
  compute/cloud-client/src/test/java/compute/Util.java
  compute/cloud-client/src/test/java/compute/disks/HyperdisksIT.java
  compute/cloud-client/src/test/java/compute/reservation/CrudOperationsReservationIT.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
Labels: kokoro:run, api: compute, samples

#9584 fix: remove unused method from testing (appengine jdk 21 sample)
  appengine-java21/helloworld/README.md
  appengine-java21/helloworld/src/main/java/com/example/appengine/java21/HelloAppEngine.java
  appengine-java21/helloworld/src/test/java/com/example/appengine/java21/HelloAppEngineTest.java
Labels: samples

#9580 [SCC] Fix list notification configs test.
  security-command-center/snippets/src/main/java/vtwo/notifications/DeleteNotification.java
  security-command-center/snippets/src/main/java/vtwo/notifications/ListNotification.java
  security-command-center/snippets/src/test/java/vtwo/NotificationIT.java
Labels: kokoro:force-run, api: securitycenter, samples

#9566 feat: add samples for annotations, regional SM
  secretmanager/src/main/java/secretmanager/regionalsamples/CreateRegionalSecretWithAnnotations.java
  secretmanager/src/main/java/secretmanager/regionalsamples/EditRegionalSecretAnnotations.java
  secretmanager/src/main/java/secretmanager/regionalsamples/ViewRegionalSecretAnnotations.java
  secretmanager/src/test/java/secretmanager/regionalsamples/SnippetsIT.java
Labels: api: secretmanager, samples

#9565 feat:add samples for labels, regional SM
  secretmanager/src/main/java/secretmanager/regionalsamples/CreateRegionalSecretWithLabels.java
  secretmanager/src/main/java/secretmanager/regionalsamples/DeleteRegionalSecretLabel.java
  secretmanager/src/main/java/secretmanager/regionalsamples/EditRegionalSecretLabel.java
  secretmanager/src/main/java/secretmanager/regionalsamples/ViewRegionalSecretLabels.java
  secretmanager/src/test/java/secretmanager/regionalsamples/SnippetsIT.java
Labels: api: secretmanager, samples

#9592 feat: add Gemini batch prediction samples for GCS and BQ
  aiplatform/src/main/java/aiplatform/batchpredict/CreateBatchPredictionGeminiBigqueryJobSample.java
  aiplatform/src/main/java/aiplatform/batchpredict/CreateBatchPredictionGeminiJobSample.java
  aiplatform/src/test/java/aiplatform/CreateBatchPredictionGeminiJobSampleTest.java
Labels: samples, api: aiplatform

#9586 feat: Java SDK Api Key authorization sample
  auth/README.md
  auth/pom.xml
  auth/src/main/java/com/google/cloud/auth/samples/ApiKeyAuthExample.java
  auth/src/test/java/com/google/cloud/auth/samples/AuthExampleIT.java
  auth/src/test/java/com/google/cloud/auth/samples/AuthTestUtils.java
Labels: samples, api: auth

#9547 feat(security-command-center): add sample for creating client with regional endpoint
  security-command-center/snippets/src/main/java/vtwo/client/CreateClientWithEndpoint.java
  security-command-center/snippets/src/test/java/vtwo/CreateClientIT.java
Labels: api: securitycenter, samples

#9602 chore: Delete automl/src/main/java/com/google/cloud/translate/automl …
  automl/src/main/java/com/google/cloud/translate/automl/DatasetApi.java
Labels: api: automl, samples

#9587 feat(dataplex): add code samples for Entry
  dataplex/snippets/src/main/java/dataplex/CreateEntry.java
  dataplex/snippets/src/main/java/dataplex/DeleteEntry.java
  dataplex/snippets/src/main/java/dataplex/GetEntry.java
  dataplex/snippets/src/main/java/dataplex/ListEntries.java
  dataplex/snippets/src/main/java/dataplex/LookupEntry.java
  dataplex/snippets/src/main/java/dataplex/UpdateEntry.java
  dataplex/snippets/src/test/java/dataplex/EntryIT.java
Labels: samples, api: dataplex

#9603 feat: Getting embeddings using text-embedding-005.
  aiplatform/src/main/java/aiplatform/EmbeddingBatchSample.java
  aiplatform/src/main/java/aiplatform/EmbeddingModelTuningSample.java
  aiplatform/src/main/java/aiplatform/PredictTextEmbeddingsSample.java
  aiplatform/src/main/java/aiplatform/PredictTextEmbeddingsSamplePreview.java
  aiplatform/src/test/java/aiplatform/EmbeddingBatchSampleTest.java
  aiplatform/src/test/java/aiplatform/EmbeddingModelTuningSampleTest.java
  aiplatform/src/test/java/aiplatform/PredictTextEmbeddingsSampleTest.java
Labels: samples, api: aiplatform

#9570 feat(compute): add compute reservation vms update sample
  compute/cloud-client/src/main/java/compute/reservation/UpdateVmsForReservation.java
  compute/cloud-client/src/test/java/compute/reservation/CrudOperationsReservationIT.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
Labels: kokoro:run, api: compute, samples

#9599 Move region tag to clarify that static methods are called from the same class
  cdn/signed-urls/src/main/java/com/google/cdn/SignedUrls.java
Labels: samples

#9535 feat(compute): add compute reservation create shared
  compute/cloud-client/pom.xml
  compute/cloud-client/src/main/java/compute/reservation/CreateSharedReservation.java
  compute/cloud-client/src/test/java/compute/reservation/ReservationIT.java
Labels: kokoro:run, api: compute, samples

#9568 docs(samples): Add Dataflow snippet for reading from Cloud Storage
  dataflow/snippets/src/main/java/com/example/dataflow/ReadFromStorage.java
  dataflow/snippets/src/test/java/com/example/dataflow/ApacheIcebergIT.java
  dataflow/snippets/src/test/java/com/example/dataflow/BigQueryWriteIT.java
  dataflow/snippets/src/test/java/com/example/dataflow/BiqQueryReadIT.java
  dataflow/snippets/src/test/java/com/example/dataflow/PubSubWriteIT.java
  dataflow/snippets/src/test/java/com/example/dataflow/ReadFromStorageIT.java
Labels: api: dataflow, samples

#9605 feat(tpu): add tpu queued resources network
  .github/CODEOWNERS
  tpu/pom.xml
  tpu/src/main/java/tpu/CreateQueuedResourceWithNetwork.java
  tpu/src/main/java/tpu/DeleteForceQueuedResource.java
  tpu/src/main/java/tpu/GetQueuedResource.java
  tpu/src/test/java/tpu/CreateQueuedResourceWithNetworkIT.java
  tpu/src/test/java/tpu/Util.java
Labels: samples, api: tpu

#9573 feat(compute): add compute reservation create from vm sample.
  compute/cloud-client/src/main/java/compute/reservation/CreateReservationFromVm.java
  compute/cloud-client/src/test/java/compute/reservation/CreateReservationFromVmIT.java
  compute/cloud-client/src/test/java/compute/reservation/CrudOperationsReservationIT.java
Labels: kokoro:run, api: compute, samples

#9564 feat(compute): add compute instance/instance template not consume reservation samples.
  compute/cloud-client/src/main/java/compute/reservation/CreateInstanceWithoutConsumingReservation.java
  compute/cloud-client/src/main/java/compute/reservation/CreateReservation.java
  compute/cloud-client/src/main/java/compute/reservation/CreateTemplateWithoutConsumingReservation.java
  compute/cloud-client/src/test/java/compute/reservation/ConsumeReservationIT.java
Labels: kokoro:run, api: compute, samples
