Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2024-04, with the labels that each got.

#9282 @ignore tests due to https://github.com/GoogleCloudPlatform/java-docs…
  aiplatform/src/test/java/aiplatform/CancelTrainingPipelineSampleTest.java
  aiplatform/src/test/java/aiplatform/CreateTrainingPipelineSampleTest.java
Labels: samples, api: aiplatform

#9272 feat: Text-embedding model tuning demo.
  aiplatform/pom.xml
  aiplatform/src/main/java/aiplatform/EmbeddingModelTuningSample.java
  aiplatform/src/test/java/aiplatform/EmbeddingModelTuningSampleTest.java
Labels: samples, api: aiplatform

#9292 fix(healthcare): don't store DICOM instance before each DICOMweb test
  healthcare/v1/src/test/java/snippets/healthcare/DicomWebTests.java
Labels: api: healthcare, samples

#9283 storageinsights: update edit inventory report config sample
  storageinsights/src/main/java/com/google/cloud/storage/storageinsights/samples/EditInventoryReportConfig.java
  storageinsights/src/test/java/com/google/cloud/storage/storageinsights/samples/test/ITStorageinsightsSamplesTest.java
Labels: api: storage, samples

#9294 fix: Adding missing grpc dependency
  spanner/opencensus/README.md
  spanner/opencensus/pom.xml
  spanner/opencensus/src/main/java/com/example/spanner/opencensus/CaptureGrpcMetric.java
Labels: api: spanner, samples

#9289 api platform updated version form v1beta to v1
  aiplatform/src/main/java/aiplatform/CreateFeaturestoreFixedNodesSample.java
  aiplatform/src/main/java/aiplatform/CreateFeaturestoreSample.java
  aiplatform/src/main/java/aiplatform/CreatePipelineJobModelTuningSample.java
  aiplatform/src/main/java/aiplatform/CreateTrainingPipelineImageObjectDetectionSample.java
  aiplatform/src/main/java/aiplatform/CreateTrainingPipelineTabularRegressionSample.java
  aiplatform/src/main/java/aiplatform/CreateTrainingPipelineTextClassificationSample.java
  aiplatform/src/main/java/aiplatform/GetFeaturestoreSample.java
  aiplatform/src/main/java/aiplatform/ListTunedModelsSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeChatSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeCompletionCommentSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeCompletionTestFunctionSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeGenerationFunctionSample.java
  aiplatform/src/main/java/aiplatform/PredictCodeGenerationUnitTestSample.java
  aiplatform/src/main/java/aiplatform/PredictTextClassificationSample.java
  aiplatform/src/main/java/aiplatform/PredictTextEmbeddingsSample.java
  aiplatform/src/main/java/aiplatform/PredictTextExtractionSample.java
  aiplatform/src/main/java/aiplatform/PredictTextPromptSample.java
  aiplatform/src/main/java/aiplatform/PredictTextSummarizationSample.java
  aiplatform/src/main/java/aiplatform/UpdateFeaturestoreSample.java
Labels: samples, api: aiplatform

#9288 refactor(iam): update service account samples to use GAPIC library
  iam/api-client/pom.xml
  iam/api-client/src/main/java/iam/snippets/CreateServiceAccount.java
  iam/api-client/src/main/java/iam/snippets/DeleteServiceAccount.java
  iam/api-client/src/main/java/iam/snippets/DeleteServiceAccountKey.java
  iam/api-client/src/main/java/iam/snippets/RenameServiceAccount.java
  iam/api-client/src/test/java/iam/snippets/ServiceAccountTests.java
Labels: api: iam, samples

#9301 compute: testSetUsageBucketExportCustomPrefix Flaky test should be handled
  compute/cloud-client/src/test/java/compute/SnippetsIT.java
Labels: api: compute, samples

#9290 refactor(iam): update IAM policy samples to use GAPIC library
  iam/api-client/pom.xml
  iam/api-client/src/main/java/iam/snippets/AddBinding.java
  iam/api-client/src/main/java/iam/snippets/AddMember.java
  iam/api-client/src/main/java/iam/snippets/GetPolicy.java
  iam/api-client/src/main/java/iam/snippets/GetProjectPolicy.java
  iam/api-client/src/main/java/iam/snippets/GetServiceAccountPolicy.java
  iam/api-client/src/main/java/iam/snippets/Quickstart.java
  iam/api-client/src/main/java/iam/snippets/RemoveMember.java
  iam/api-client/src/main/java/iam/snippets/SetPolicy.java
  iam/api-client/src/main/java/iam/snippets/SetProjectPolicy.java
  iam/api-client/src/main/java/iam/snippets/SetServiceAccountPolicy.java
  iam/api-client/src/test/java/iam/snippets/AccessTests.java
  iam/api-client/src/test/java/iam/snippets/QuickstartTests.java
Labels: api: iam, samples

#9285 feat: Adding API v2 IAM samples
  security-command-center/snippets/src/main/java/vtwo/iam/GetIamPolicies.java
  security-command-center/snippets/src/main/java/vtwo/iam/SetIamPolices.java
  security-command-center/snippets/src/main/java/vtwo/iam/TestIamPermissions.java
  security-command-center/snippets/src/test/java/vtwo/IamIT.java
Labels: api: securitycenter, samples

#9303 test(vertexai): enable sample tests
  .kokoro/tests/run_test_java.sh
  vertexai/snippets/pom.xml
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalQuery.java
  vertexai/snippets/src/main/java/vertexai/gemini/Quickstart.java
  vertexai/snippets/src/main/java/vertexai/gemini/SingleTurnMultimodal.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#9302 Gemini 1.5 multimodal snippets
  vertexai/snippets/src/main/java/vertexai/gemini/AudioInputSummarization.java
  vertexai/snippets/src/main/java/vertexai/gemini/AudioInputTranscription.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalAllInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/PdfInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/VideoInputWithAudio.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples
