Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2025-06, with the labels that each got.

#10101 chore: add back region tags for sample browser
  retail/interactive-tutorials/src/main/java/product/AddFulfillmentPlaces.java
Labels: samples, api: retail

#10102 fix(retail): add region tag for Java - Update SearchSimpleQuery.java
  retail/interactive-tutorials/src/main/java/search/SearchSimpleQuery.java
Labels: samples, api: retail

#10094 feat(parametermanager): Added samples for kms_key field in regional parameter
  parametermanager/pom.xml
  parametermanager/src/main/java/parametermanager/regionalsamples/CreateRegionalParamWithKmsKey.java
  parametermanager/src/main/java/parametermanager/regionalsamples/RemoveRegionalParamKmsKey.java
  parametermanager/src/main/java/parametermanager/regionalsamples/UpdateRegionalParamKmsKey.java
  parametermanager/src/test/java/parametermanager/regionalsamples/SnippetsIT.java
Labels: samples

#10093 feat(parametermanager): Added samples for kms_key field in global parameter
  parametermanager/src/main/java/parametermanager/CreateParamWithKmsKey.java
  parametermanager/src/main/java/parametermanager/RemoveParamKmsKey.java
  parametermanager/src/main/java/parametermanager/UpdateParamKmsKey.java
  parametermanager/src/test/java/parametermanager/SnippetsIT.java
  parametermanager/src/test/java/parametermanager/regionalsamples/SnippetsIT.java
Labels: samples

#9887 docs(iam): Update comments and terminology in IAM samples
  iam/snippets/src/main/java/AddBinding.java
  iam/snippets/src/main/java/AddMember.java
  iam/snippets/src/main/java/Quickstart.java
  iam/snippets/src/main/java/RemoveMember.java
Labels: api: iam, samples

#10109 fix(retail): add region tag for Java - Update GetProduct.java
  retail/interactive-tutorials/src/main/java/product/GetProduct.java
Labels: samples, api: retail

#10108 fix(retail): add region tag for Java - Update deleteproduct.java
  retail/interactive-tutorials/src/main/java/product/DeleteProduct.java
Labels: samples, api: retail
