Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2025-05, with the labels that each got.

#10077 feat(modelarmor): Added sample for creating template with Advanced SDP settings
  modelarmor/pom.xml
  modelarmor/src/main/java/modelarmor/CreateTemplateWithAdvancedSdp.java
  modelarmor/src/test/java/modelarmor/SnippetsIT.java
Labels: samples, api: modelarmor

#10083 chore(endpoints): remove unused region tag
  endpoints/getting-started/deployment.yaml
Labels: samples, api: endpoints

#10068 feat(modelarmor): Added create template samples for modelarmor
  .github/CODEOWNERS
  .github/blunderbuss.yml
  modelarmor/src/main/java/modelarmor/CreateTemplate.java
  modelarmor/src/main/java/modelarmor/CreateTemplateWithBasicSdp.java
  modelarmor/src/main/java/modelarmor/CreateTemplateWithLabels.java
  modelarmor/src/main/java/modelarmor/CreateTemplateWithMetadata.java
  modelarmor/src/main/java/modelarmor/DeleteTemplate.java
  modelarmor/src/test/java/modelarmor/SnippetsIT.java
Labels: samples, api: modelarmor

#10088 chore: Removing dee-infra from CODEOWNERS and Blunderbuss config files
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#10087 fix(endpoints): delete unused region tag esp
  endpoints/multiple-versions/container-engine.yaml
Labels: samples, api: endpoints

#10062 feat(modelarmor): Added quickstart modelarmor code snippets
  modelarmor/src/main/java/modelarmor/Quickstart.java
  modelarmor/src/test/java/modelarmor/QuickstartIT.java
Labels: samples, api: modelarmor

#10065 feat(modelarmor): Added code samples for screening user prompt, model response and a PDF file
  modelarmor/src/main/java/modelarmor/SanitizeModelResponse.java
  modelarmor/src/main/java/modelarmor/SanitizeUserPrompt.java
  modelarmor/src/main/java/modelarmor/ScreenPdfFile.java
  modelarmor/src/main/resources/test_sample.pdf
  modelarmor/src/test/java/modelarmor/SnippetsIT.java
Labels: samples, api: modelarmor

#10058 feat(iam): add utility class for ServiceAccount test
  iam/snippets/src/test/java/CreateServiceAccountIT.java
  iam/snippets/src/test/java/CreateServiceAccountKeyIT.java
  iam/snippets/src/test/java/DeleteServiceAccountIT.java
  iam/snippets/src/test/java/DeleteServiceAccountKeyIT.java
  iam/snippets/src/test/java/DenyIT.java
  iam/snippets/src/test/java/DisableServiceAccountIT.java
  iam/snippets/src/test/java/DisableServiceAccountKeyIT.java
  iam/snippets/src/test/java/EnableServiceAccountIT.java
  iam/snippets/src/test/java/EnableServiceAccountKeyIT.java
  iam/snippets/src/test/java/GetServiceAccountIT.java
  iam/snippets/src/test/java/GetServiceAccountKeyIT.java
  iam/snippets/src/test/java/ListServiceAccountKeysIT.java
  iam/snippets/src/test/java/ListServiceAccountsIT.java
  iam/snippets/src/test/java/QuickstartTests.java
  iam/snippets/src/test/java/RenameServiceAccountIT.java
  iam/snippets/src/test/java/RoleIT.java
  iam/snippets/src/test/java/ServiceAccountTests.java
  iam/snippets/src/test/java/Util.java
Labels: api: iam, samples

#10098 feat: Update model name to gemini-embedding-001
  aiplatform/src/main/java/aiplatform/PredictTextEmbeddingsSample.java
  aiplatform/src/test/java/aiplatform/PredictTextEmbeddingsSampleTest.java
Labels: samples, api: aiplatform
