Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2025-02, with the labels that each got.

#10001 chore(datacatalog): delete quickstart folder and standalone sample
  datacatalog/quickstart/README.md
  datacatalog/quickstart/build.gradle
  datacatalog/quickstart/pom.xml
  datacatalog/quickstart/src/main/java/com/example/datacatalog/CreateFilesetEntry.java
  datacatalog/quickstart/src/test/java/com/example/datacatalog/CreateFilesetEntryTests.java
Labels: api: datacatalog, samples

#9999 chore(job): delete old unused region tag after migration
  jobs/v3/src/main/java/com/google/samples/HistogramSample.java
Labels: api: jobs, samples

#10011 docs: add ja4 to CreateAssessment code snippet used in recaptcha docs
  recaptcha_enterprise/snippets/src/main/java/recaptcha/CreateAssessment.java
Labels: api: recaptchaenterprise, samples

#9996 fix(compute): rename region "dependencies" at pom.xml
  compute/sendgrid/pom.xml
Labels: api: compute, samples

#10019 chore: add region tags to appengine java 21 gradle file
  appengine-java21/helloworld/build.gradle
Labels: samples

#10018 chore(endpoints): step 1 add new region tag
  endpoints/getting-started/openapi-appengine.yaml
Labels: samples, api: endpoints

#9992 chore(compute): add new region tags
  compute/cmdline/src/main/java/ComputeEngineSample.java
Labels: api: compute, samples

#10015 chore(endpoints): step 1 add new region tag
  endpoints/getting-started/openapi.yaml
Labels: samples, api: endpoints

#10014 chore(compute): delete old region "compute_sendgrid_dependendies_java"
  compute/sendgrid/pom.xml
Labels: api: compute, samples

#10012 chore(job): delete old unused region tag after migration
  jobs/v3/src/main/java/com/google/samples/CustomAttributeSample.java
Labels: api: jobs, samples

#10022 feat(cloud sql): add lazy refresh property for postgres, sql server and mysql
  cloud-sql/mysql/servlet/src/main/java/com/example/cloudsql/ConnectorConnectionPoolFactory.java
  cloud-sql/mysql/servlet/src/main/java/com/example/cloudsql/ConnectorIamAuthnConnectionPoolFactory.java
  cloud-sql/postgres/servlet/src/main/java/com/example/cloudsql/ConnectorConnectionPoolFactory.java
  cloud-sql/postgres/servlet/src/main/java/com/example/cloudsql/ConnectorIamAuthnConnectionPoolFactory.java
  cloud-sql/sqlserver/servlet/src/main/java/com/example/cloudsql/ConnectorConnectionPoolFactory.java
Labels: api: cloudsql, samples

#9998 chore(compute): delete old unused region tags after migration
  compute/error-reporting/pom.xml
  compute/error-reporting/src/main/java/com/example/compute/errorreporting/ExceptionUtil.java
Labels: api: compute, samples

#10027 fix(functions): add code to shutdown publisher to free up resources
  functions/pubsub/publish-message/src/main/java/functions/PublishMessage.java
  functions/pubsub/publish-message/src/test/java/functions/PublishMessageTest.java
Labels: api: cloudfunctions, samples

#10029 feat(dataflow): Update BigQuery read samples to use Managed I/O
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/BigQueryReadFromQuery.java
  dataflow/snippets/src/main/java/com/example/dataflow/BigQueryReadWithProjectionAndFiltering.java
Labels: api: dataflow, samples

#10032 feat(parametermanager): created folder to add samples
  .github/CODEOWNERS
  .github/blunderbuss.yml
  parametermanager/README.md
Labels: samples

#9589 feat(security-command-center): add v2 version of SetMuteUndefinedFinding.java
  security-command-center/snippets/src/main/java/vtwo/muteconfig/SetMuteUndefinedFinding.java
  security-command-center/snippets/src/test/java/vtwo/MuteFindingIT.java
Labels: api: securitycenter, samples

#9645 feat(dataflow): Dataflow to Apache Iceberg with dynamic destinations
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/ApacheIcebergDynamicDestinations.java
  dataflow/snippets/src/test/java/com/example/dataflow/ApacheIcebergIT.java
Labels: api: dataflow, samples

#9506 chore(automl): delete deprecated samples automl/src/main/java/com/goo…
  automl/src/main/java/com/google/cloud/vision/samples/automl/ClassificationDeployModelNodeCount.java
  automl/src/main/java/com/google/cloud/vision/samples/automl/ObjectDetectionDeployModelNodeCount.java
  automl/src/test/java/com/google/cloud/vision/samples/automl/ClassificationDeployModelIT.java
  automl/src/test/java/com/google/cloud/vision/samples/automl/ObjectDetectionDeployModelNodeCountIT.java
Labels: api: automl, samples
