Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2025-04, with the labels that each got.

#10053 feat(parametermanager): Added samples for creating parameter and versions in specified region
  parametermanager/src/main/java/parametermanager/regionalsamples/CreateRegionalParam.java
  parametermanager/src/main/java/parametermanager/regionalsamples/CreateRegionalParamVersion.java
  parametermanager/src/main/java/parametermanager/regionalsamples/CreateRegionalParamVersionWithSecret.java
  parametermanager/src/main/java/parametermanager/regionalsamples/CreateStructuredRegionalParam.java
  parametermanager/src/main/java/parametermanager/regionalsamples/CreateStructuredRegionalParamVersion.java
  parametermanager/src/test/java/parametermanager/regionalsamples/SnippetsIT.java
Labels: samples

#10054 feat(parametermanager): Added samples to view, list and render parameter
  parametermanager/src/main/java/parametermanager/GetParam.java
  parametermanager/src/main/java/parametermanager/GetParamVersion.java
  parametermanager/src/main/java/parametermanager/ListParamVersions.java
  parametermanager/src/main/java/parametermanager/ListParams.java
  parametermanager/src/main/java/parametermanager/RenderParamVersion.java
  parametermanager/src/test/java/parametermanager/SnippetsIT.java
Labels: samples

#10061 feat(parametermanager): Added samples for get, list and render regional parameter & parameter version
  parametermanager/src/main/java/parametermanager/regionalsamples/GetRegionalParam.java
  parametermanager/src/main/java/parametermanager/regionalsamples/GetRegionalParamVersion.java
  parametermanager/src/main/java/parametermanager/regionalsamples/ListRegionalParamVersions.java
  parametermanager/src/main/java/parametermanager/regionalsamples/ListRegionalParams.java
  parametermanager/src/main/java/parametermanager/regionalsamples/RenderRegionalParamVersion.java
  parametermanager/src/test/java/parametermanager/regionalsamples/SnippetsIT.java
Labels: samples

#10060 feat(parametermanager): Added samples for delete, enable and disable parameter & parameter version
  parametermanager/src/main/java/parametermanager/DeleteParam.java
  parametermanager/src/main/java/parametermanager/DeleteParamVersion.java
  parametermanager/src/main/java/parametermanager/DisableParamVersion.java
  parametermanager/src/main/java/parametermanager/EnableParamVersion.java
  parametermanager/src/test/java/parametermanager/SnippetsIT.java
Labels: samples

#10067 chore(endpoints): delete old region tag swagger
  endpoints/getting-started/openapi-appengine.yaml
  endpoints/getting-started/openapi.yaml
Labels: samples, api: endpoints

#10059 feat: migrate to 2.x samples and clear unused samples
  aiplatform/src/main/java/aiplatform/batchpredict/CreateBatchPredictionGeminiBigqueryJobSample.java
  aiplatform/src/main/java/aiplatform/batchpredict/CreateBatchPredictionGeminiJobSample.java
  vertexai/snippets/src/main/java/vertexai/gemini/AudioInputSummarization.java
  vertexai/snippets/src/main/java/vertexai/gemini/AudioInputTranscription.java
  vertexai/snippets/src/main/java/vertexai/gemini/AutomaticFunctionCalling.java
  vertexai/snippets/src/main/java/vertexai/gemini/ChatDiscussion.java
  vertexai/snippets/src/main/java/vertexai/gemini/ComplexFunctionCalling.java
  vertexai/snippets/src/main/java/vertexai/gemini/ControlledGenerationMimeType.java
  vertexai/snippets/src/main/java/vertexai/gemini/ControlledGenerationSchema.java
  vertexai/snippets/src/main/java/vertexai/gemini/ControlledGenerationSchema2.java
  vertexai/snippets/src/main/java/vertexai/gemini/ControlledGenerationSchema3.java
  vertexai/snippets/src/main/java/vertexai/gemini/ControlledGenerationSchema4.java
  vertexai/snippets/src/main/java/vertexai/gemini/ControlledGenerationSchema6.java
  vertexai/snippets/src/main/java/vertexai/gemini/FunctionCalling.java
  vertexai/snippets/src/main/java/vertexai/gemini/GeminiTranslate.java
  vertexai/snippets/src/main/java/vertexai/gemini/GetMediaTokenCount.java
  vertexai/snippets/src/main/java/vertexai/gemini/GetTokenCount.java
  vertexai/snippets/src/main/java/vertexai/gemini/GroundingWithPrivateData.java
  vertexai/snippets/src/main/java/vertexai/gemini/GroundingWithPublicData.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultiTurnMultimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/Multimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalAllInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalMultiImage.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalQuery.java
  vertexai/snippets/src/main/java/vertexai/gemini/MultimodalVideoInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/PdfInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/QuestionAnswer.java
  vertexai/snippets/src/main/java/vertexai/gemini/Quickstart.java
  vertexai/snippets/src/main/java/vertexai/gemini/SingleTurnMultimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/StreamingMultimodal.java
  vertexai/snippets/src/main/java/vertexai/gemini/StreamingQuestionAnswer.java
  vertexai/snippets/src/main/java/vertexai/gemini/TextInput.java
  vertexai/snippets/src/main/java/vertexai/gemini/VideoInputWithAudio.java
  vertexai/snippets/src/main/java/vertexai/gemini/WithSafetySettings.java
  vertexai/snippets/src/main/java/vertexai/gemini/WithSystemInstruction.java
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples

#10073 fix: sync setting for Java header check
  .github/header-checker-lint.yml
Labels: samples

#10064 feat(appengine): repackaging Java 8 application public doc update
  flexible/repacking-legacy-applications/appengine-simple-jetty-main/app.yaml
  flexible/repacking-legacy-applications/appengine-simple-jetty-main/appengine/.gcloudignore
  flexible/repacking-legacy-applications/appengine-simple-jetty-main/appengine/app.yaml
  flexible/repacking-legacy-applications/appengine-simple-jetty-main/pom.xml
  flexible/repacking-legacy-applications/appengine-simple-jetty-main/src/main/java/com/example/appengine/jetty/Main.java
  flexible/repacking-legacy-applications/custom-runtime/Dockerfile
  flexible/repacking-legacy-applications/custom-runtime/app.yaml
  flexible/repacking-legacy-applications/custom-runtime/cloudbuild.yaml
  flexible/repacking-legacy-applications/custom-runtime/pom.xml
  flexible/repacking-legacy-applications/custom-runtime/src/main/java/com/example/HelloServlet.java
  flexible/repacking-legacy-applications/custom-runtime/src/main/java/com/example/package-info.java
  flexible/repacking-legacy-applications/custom-runtime/src/main/webapp/WEB-INF/web.xml
  flexible/repacking-legacy-applications/custom-runtime/src/main/webapp/index.jsp
Labels: kokoro:run, api: appengine, samples

#10024 fix(auth): AuthExampleIT flaky test
  auth/src/test/java/com/google/cloud/auth/samples/AuthExampleIT.java
Labels: samples, api: auth

#10074 chore(appengine): add start and end region for code block
  flexible/repacking-legacy-applications/custom-runtime/src/main/java/com/example/HelloServlet.java
Labels: api: appengine, samples

#10076 chore(job): migrate region tags
  jobs/v3/src/main/java/com/google/samples/FeaturedJobsSearchSample.java
Labels: api: jobs, samples

#10075 chore(job): delete unused region tag
  jobs/v3/src/main/java/com/google/samples/AutoCompleteSample.java
Labels: api: jobs, samples

#10081 chore: cleanup old code samples
  aiplatform/src/main/java/aiplatform/imagen/VerifyImageWatermarkSample.java
  aiplatform/src/test/java/aiplatform/imagen/VerifyImageWatermarkSampleTest.java
Labels: samples, api: aiplatform

#10080 chore(job): add new region tag to start migration
  endpoints/getting-started/deployment.yaml
Labels: samples, api: endpoints

#10078 chore(storage): delete unused samples
  storage/xml-api/README.md
  storage/xml-api/cmdline-sample/README.md
  storage/xml-api/cmdline-sample/logging.properties
  storage/xml-api/cmdline-sample/pom.xml
  storage/xml-api/cmdline-sample/src/main/java/StorageSample.java
  storage/xml-api/cmdline-sample/src/test/java/StorageSampleTest.java
  storage/xml-api/serviceaccount-appengine-sample/README.md
  storage/xml-api/serviceaccount-appengine-sample/pom.xml
  storage/xml-api/serviceaccount-appengine-sample/src/main/java/com/google/api/client/sample/storage/appengine/serviceaccount/StorageSample.java
  storage/xml-api/serviceaccount-appengine-sample/src/main/webapp/WEB-INF/appengine-web.xml
  storage/xml-api/serviceaccount-appengine-sample/src/main/webapp/WEB-INF/logging.properties
  storage/xml-api/serviceaccount-appengine-sample/src/main/webapp/WEB-INF/web.xml
  storage/xml-api/serviceaccount-appengine-sample/src/main/webapp/xsl/listing.xsl
Labels: api: storage, samples
