Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2025-01, with the labels that each got.

#9940 fix(job): delete old region tag update_job_with_field_mask
  jobs/v3/src/main/java/com/google/samples/BasicJobSample.java
Labels: api: jobs, samples

#9966 feat(job): migrate region tags to include product prefix
  jobs/v3/src/main/java/com/google/samples/BasicCompanySample.java
Labels: api: jobs, samples

#9943 fix(endpoints): migrate all regions
  endpoints/getting-started/k8s/esp_echo_http.yaml
Labels: samples, api: endpoints

#9968 fix: disable flakybot reporting
  .kokoro/tests/run_prptst_tests.sh
  .kokoro/tests/run_test_java.sh
Labels: samples

#9969 chore(job): remove unused region tags
  jobs/v3/src/main/java/com/google/samples/BasicCompanySample.java
Labels: api: jobs, samples

#9974 chore(job): migrate region tag to include product prefix
  jobs/v3/src/main/java/com/google/samples/AutoCompleteSample.java
Labels: api: jobs, samples

#9973 fix(securitycenter) issue related to cleanup logic in testclass of ET…
  security-command-center/snippets/src/test/java/management/api/EventThreatDetectionCustomModuleTest.java
Labels: api: securitycenter, samples

#9976 chore(job): migrate region tag
  compute/mailjet/src/main/java/com/example/compute/mailjet/MailjetSender.java
Labels: api: compute, samples

#9971 fix(endpoints): update new regions adding _yaml_
  endpoints/getting-started/k8s/esp_echo_http.yaml
Labels: samples, api: endpoints

#9939 fix(storagetransfer): deleted old region tags (all)
  storage-transfer/src/test/java/com/google/cloud/storage/storagetransfer/samples/test/util/TransferJobUtils.java
Labels: api: storagetransfer, samples

#9942 fix(compute): migrate region 'example' to 'compute_sendgrid'
  compute/sendgrid/pom.xml
  compute/sendgrid/src/main/java/com/example/compute/sendgrid/SendEmailServlet.java
Labels: api: compute, samples

#9979 fix(endpoints): remove old region tags
  endpoints/getting-started/k8s/esp_echo_http.yaml
Labels: samples, api: endpoints

#9980 fix(compute): delete old region tag
  compute/sendgrid/pom.xml
  compute/sendgrid/src/main/java/com/example/compute/sendgrid/SendEmailServlet.java
Labels: api: compute, samples

#9916 chore(job): delete old region tags from LocationSearchSample.java
  jobs/v3/src/main/java/com/google/samples/LocationSearchSample.java
Labels: api: jobs, samples

#9975 chore(job): delete unused region tag after migration
  jobs/v3/src/main/java/com/google/samples/AutoCompleteSample.java
Labels: api: jobs, samples

#9991 fix(compute): ignore reservation ITs
  compute/cloud-client/src/test/java/compute/reservation/CrudOperationsReservationIT.java
Labels: api: compute, samples

#9983 chore(compute): remove old region tag
  compute/mailjet/src/main/java/com/example/compute/mailjet/MailjetSender.java
Labels: api: compute, samples

#9993 chore(compute): add new region tags for migration
  compute/error-reporting/pom.xml
  compute/error-reporting/src/main/java/com/example/compute/errorreporting/ExceptionUtil.java
Labels: api: compute, samples

#9984 chore(job): migrate region tag
  jobs/v3/src/main/java/com/google/samples/HistogramSample.java
Labels: api: jobs, samples

#9981 fix(securitycenter) issue related to cleanup logic in testclass of SH…
  security-command-center/snippets/src/test/java/management/api/SecurityHealthAnalyticsCustomModuleTest.java
Labels: api: securitycenter, samples

#9913 feat(securitycenter): Add Resource SCC Management API Org Security Center Service Custom Module samples (Get, List, Update)
  security-command-center/snippets/src/main/java/management/api/GetSecurityCenterService.java
  security-command-center/snippets/src/main/java/management/api/ListSecurityCenterServices.java
  security-command-center/snippets/src/main/java/management/api/UpdateSecurityCenterService.java
  security-command-center/snippets/src/test/java/management/api/SecurityCenterServiceTest.java
Labels: api: securitycenter, samples

#9880 feat(vectorsearch): add create/list/delete index samples
  aiplatform/src/main/java/aiplatform/vectorsearch/CreateIndexSample.java
  aiplatform/src/main/java/aiplatform/vectorsearch/CreateStreamingIndexSample.java
  aiplatform/src/main/java/aiplatform/vectorsearch/DeleteIndexSample.java
  aiplatform/src/main/java/aiplatform/vectorsearch/ListIndexesSample.java
  aiplatform/src/test/java/aiplatform/vectorsearch/VectorSearchSampleTest.java
Labels: samples, api: aiplatform
