Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2025-03, with the labels that each got.

#10037 chore: set gcs-sdk-team as CODEOWNERS
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#10034 feat(bigquery): add helper classes for cloud-client testing (1/3)
  bigquery/cloud-client/snippets/pom.xml
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/CreateDataset.java
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/CreateTable.java
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/CreateView.java
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/DeleteDataset.java
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/DeleteTable.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/CreateDatasetIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/CreateTableIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/CreateViewIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/DeleteDatasetIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/DeleteTableIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/Util.java
Labels: api: bigquery, samples

#10038 chore(tpu): Updating TPUv2 to TPUv5
  tpu/src/main/java/tpu/CreateQueuedResource.java
  tpu/src/main/java/tpu/CreateQueuedResourceWithNetwork.java
  tpu/src/main/java/tpu/CreateQueuedResourceWithStartupScript.java
  tpu/src/main/java/tpu/CreateSpotQueuedResource.java
  tpu/src/main/java/tpu/CreateSpotTpuVm.java
  tpu/src/main/java/tpu/CreateTimeBoundQueuedResource.java
  tpu/src/main/java/tpu/CreateTpuVm.java
  tpu/src/main/java/tpu/CreateTpuVmWithStartupScript.java
  tpu/src/test/java/tpu/QueuedResourceIT.java
  tpu/src/test/java/tpu/TpuVmIT.java
Labels: samples, api: tpu

#10036 feat(bigquery): add table/view samples to cloud-client (3/3)
  bigquery/cloud-client/snippets/pom.xml
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/GetTableOrViewAccessPolicy.java
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/GrantAccessToTableOrView.java
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/RevokeAccessToTableOrView.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/GetTableOrViewAccessPolicyIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/GrantAccessToTableOrViewIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/RevokeAccessToTableOrViewIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/Util.java
Labels: api: bigquery, samples

#10035 feat(bigquery): add dataset samples to cloud-client (2/3)
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/GetDatasetAccessPolicy.java
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/GrantAccessToDataset.java
  bigquery/cloud-client/snippets/src/main/java/com/example/bigquery/RevokeDatasetAccess.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/GetDatasetAccessPolicyIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/GrantAccessToDatasetIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/RevokeDatasetAccessIT.java
  bigquery/cloud-client/snippets/src/test/java/com/example/bigquery/Util.java
Labels: api: bigquery, samples

#10044 chore(job): delete invalid region tags in v3
  jobs/v3/pom.xml
  jobs/v3/src/main/java/com/google/samples/BasicJobSample.java
Labels: api: jobs, samples

#10043 chore(compute): remove unused region tags
  compute/cmdline/src/main/java/ComputeEngineSample.java
Labels: api: compute, samples

#10056 Upgrade Java snippets to Gemini 2.0 Flash
  vertexai/snippets/src/test/java/vertexai/gemini/SnippetsIT.java
Labels: samples
