Repository GoogleCloudPlatform/java-docs-samples, pull requests merged in 2025-08, with the labels that each got.

#10106 chore(modelarmor): Added floor settings tests
  .kokoro/tests/run_tests.sh
  modelarmor/pom.xml
  modelarmor/src/main/java/modelarmor/GetFolderFloorSetting.java
  modelarmor/src/test/java/modelarmor/SnippetsIT.java
Labels: samples, api: modelarmor

#10137 Add SaveFindingsToGcs output proto conversion sample for DLP
  dlp/snippets/pom.xml
  dlp/snippets/src/main/java/dlp/snippets/ProcessInspectFindingsSavedToGcs.java
  dlp/snippets/src/test/java/dlp/snippets/InspectTests.java
  dlp/snippets/src/test/resources/save_to_gcs_findings.txt
Labels: api: dlp, samples

#10149 Adding Iceberg REST Catalog Examples for Dataflow Documentation
  dataflow/snippets/pom.xml
  dataflow/snippets/src/main/java/com/example/dataflow/ApacheIcebergCdcRead.java
  dataflow/snippets/src/main/java/com/example/dataflow/ApacheIcebergRestCatalogStreamingWrite.java
  dataflow/snippets/src/main/java/com/example/dataflow/KafkaRead.java
  dataflow/snippets/src/test/java/com/example/dataflow/ApacheIcebergIT.java
Labels: api: dataflow, samples
